<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА	1-10</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section4" cellpadding="0" cellspacing="0" id="table_Content">
     <tr>
        <td>
            <h1 style="text-decoration: underline;">ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА<br /><br /></h1>
        </td>
    </tr>
    <!--Q1-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">1. Какъв е обхвата на корабоплаването съгласно "Кодекса на търговското корабоплаване" ?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q1" type="radio" Answer="true" />&nbsp;Обхваща дейностите, свързани с използването на корабите за транспортна дейност, морски услуги и др. стопански дейности<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Обхваща само дейностите, свързани с товарене и разтоварване на корабите<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Обхваща само пристанищни-те дейности<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Обхваща само дейностите по навигация<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.3</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">2. Считат ли се за кораби, плаващи съоръжения за изваждане на потънало имущество според КТК?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q2" type="radio" />&nbsp;Не. Не се считат<br />
            <input class="section4" name="Q2" type="radio" Answer="true" />&nbsp;Да. Считат се<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Да. Само ако са регистрирани<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Да. Само ако са собственост на държавата<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.3</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">3. От кой момент се счита, че към кораб в строеж се прилагат нормите на КТК?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q3" type="radio" />&nbsp;От залагането на кила<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;От одобряването на чертежите<br />
            <input class="section4" name="Q3" type="radio" Answer="true" />&nbsp;От спускането на вода<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Два месеца след спускане на вода<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.4</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">4. За кои кораби не се отнасят разпоредбите на КТК?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q4" type="radio" />&nbsp;За търговски кораби, заети с военни превози<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;За спортни кораби по време на състезания<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;За кораби на граничния контрол<br />
            <input class="section4" name="Q4" type="radio" Answer="true" />&nbsp;За всички изброени<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.5</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">5. Кои кораби могат да извършват каботажни превози?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q5" type="radio" />&nbsp;Само кораби, чиито собственици са български физически или юридически лица<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Само кораби, регистрирани под български флаг<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Само кораби над 150 БТ<br />
            <input class="section4" name="Q5" type="radio" Answer="true" />&nbsp;Кораби плаващи под българско знаме или под знамето на държава член на Европейския съюз<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.6</strong></td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">6. Кой кораб е български?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q6" type="radio" Answer="true" />&nbsp;Който е собственост на държавата, на българско физическо или юридическо лице или повече от половината е собственост на тези лица<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Който плава в териториалните води на Р. България<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Който е записан в "Българския корабен регистър"<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Който има разрешение от Министерството на водите<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.28</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">7. По кои данни се индивидуализират корабите?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q7" type="radio" />&nbsp;Дължина, широчина, газене<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Вид, тип,  дедуейт<br />
            <input class="section4" name="Q7" type="radio" Answer="true" />&nbsp;Име или номер, националност, пристанище на регистрация, бруто и нето тонаж<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Всичко изброено в отговор "а" и "б"<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.30</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">8. От кого се наименуват корабите?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q8" type="radio" />&nbsp;От Министъра на транспорта<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;От Изпълнителния Директор на "Морска администрация"<br />
            <input class="section4" name="Q8" type="radio" Answer="true" />&nbsp;От собственика<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;От оторизирано лице в общината<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.31</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">9. Къде се означава пристанището на регистрация върху корабите?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q9" type="radio" />&nbsp;На палубата в новата част<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;На палубата в кърмовата част<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;На борда в новата част<br />
            <input class="section4" name="Q9" type="radio" Answer="true" />&nbsp;На кърмата, или на бордовете в кърмовата част<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.32</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">10. Кой избира къде да бъде регистриран кораба?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q10" type="radio" />&nbsp;Инспекторите на "Морска администрация"<br />
            <input class="section4" name="Q10" type="radio" Answer="true" />&nbsp;Собственикът<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Директорът на "Морска адми-нистрация"<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Продавачът<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК, чл.33</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section4" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="11-20.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
