<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА	31-40</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section4" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">31. На каква възраст морското лице може да придобие правоспособност "Водач на кораб до 40 БТ по море"?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q1" type="radio" />&nbsp;Навършени 14 години<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Навършени 16 години<br />
            <input class="section4" name="Q1" type="radio" Answer="true" />&nbsp;Навършени 18 години<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Навършени 21 години<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Чл.18 Нар.№6</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">32. Какво минимално образование се изисква за придобиване на правоспособност "Водач на кораб до 40 БТ по море"?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q2" type="radio" />&nbsp;Висше общо<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Средно специално<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Средно общо<br />
            <input class="section4" name="Q2" type="radio" Answer="true" />&nbsp;Основно<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Нар.№6</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">33. Какви права има "Водач на кораб до 40 БТ по море"?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q3" type="radio" />&nbsp;Капитан на кораб до 50 БТ, мощност на двигателя до 400 кВ и 36 души на борда<br />
            <input class="section4" name="Q3" type="radio" Answer="true" />&nbsp;Капитан на кораб до 40 БТ, превозващ 12 души на борда, включително екипажа<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Капитан на кораб до 20 БТ, мощност на ДВГ до 100 кВ и 8 души на борда<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Капитан на кораб до 20 БТ, мощност на ДВГ до 50 кВ и 6 души на борда<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Нар.№6</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">34. Как се нарича дванадесетмилната морска ивица, измервана от изходните линии?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q4" type="radio" />&nbsp;Прилежаща зона<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Вътрешни морски води<br />
            <input class="section4" name="Q4" type="radio" Answer="true" />&nbsp;Териториално море<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Вътрешен воден път<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>ЗМПВВПП</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">35. Каква е ширината на териториалното море?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q5" type="radio" />&nbsp;5 морски мили<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;10 морски мили<br />
            <input class="section4" name="Q5" type="radio" Answer="true" />&nbsp;12 морски мили<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;24 морски мили<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Чл.16 ЗМПВВПП</strong></td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">36. Прилежащата зона на Р. България е морска ивица, която се опира до териториалното море и се разпростира:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q6" type="radio" />&nbsp;На разстояние 12 морски мили от изходните линии, от които се измерва териториалното море<br />
            <input class="section4" name="Q6" type="radio" Answer="true" />&nbsp;На разстояние 24 морски мили от изходните линии, от които се измерва териториалното море<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;На разстояние 24 морски мили от бреговата линия<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;На разстояние 200 морски мили от бреговата линия<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>ЗМПВВПП</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">37. Къде Р. България осъществява контрол за предотвратяване нарушения на митнически, финансови, гранични и санитарни разпоредби?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q7" type="radio" Answer="true" />&nbsp;В прилежащата зона на Р.България, включително и териториалното море<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;В икономическата зона на Р.България<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;В границите на континенталния шелф<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;И в трите изброени района<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>ЗМПВВПП</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">38. Какви глоби се налагат на лицата допуснали замърсяване на морската среда?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q8" type="radio" />&nbsp;От 100 до 200 лв<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;От 400 до 800 лв<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;От 1000 до 2000 лв<br />
            <input class="section4" name="Q8" type="radio" Answer="true" />&nbsp;От 150 000 до 500 000 лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Чл.119 ЗМПВВППРБ</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">39. Какви са границите на района, където се разпростират правомощията на Д"МА" Варна?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q9" type="radio" />&nbsp;От паралела на нос Калиакра до нос Галата<br />
            <input class="section4" name="Q9" type="radio" Answer="true" />&nbsp;От паралела на нос Емине до държавната граница с Румъния<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;От паралела на нос Емине до държавната граница с Турция<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;От паралела на нос Шабла до нос Емине<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">40. Какви са границите на района, където се разпростират правомощията на Д"МА" Бургас?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q10" type="radio" Answer="true" />&nbsp;От паралела на нос Емине до държавната граница с Турция<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;От паралела на нос Калиакра до нос Еминe<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;От паралела на нос Шабла до нос Емине<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;От паралела на нос Емине до държавната граница с Румъния<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section4" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="41-50.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
