<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА	41-50</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section4" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">41. При каква видимост се забраняват маневрите за малки кораби в пристанищата?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q1" type="radio" Answer="true" />&nbsp;Под 100 метра<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Под 200 метра<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Под 300 метра<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Под 500 метра<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">42. По фарватерите в териториалните води е забранено:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q2" type="radio" />&nbsp;Плаването на кораби под ветрила<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Поставянето на риболовни уреди и мрежи<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Ловенето на риба<br />
            <input class="section4" name="Q2" type="radio" Answer="true" />&nbsp;Всичко изброено в останалите отговори<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">43. Могат ли малки кораби /до40БТ/ да се движат по фарватерите?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q3" type="radio" Answer="true" />&nbsp;Да. Без да затрудняват безопасното преминаване на корабите, движещи се по тях<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Длъжни са да избягват движението си по фараватерите<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Да<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Всичко изброено в останалите отговори<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">44. Кой е длъжен да уведоми Капитана на пристанището при изменение на навигационната обстановка или плаващи, опасни за корабоплаването предмети?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q4" type="radio" />&nbsp;Капитаните на служебните кораби на ИА"МА"<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Капитаните на големите кораби<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Капитаните на малките кораби<br />
            <input class="section4" name="Q4" type="radio" Answer="true" />&nbsp;Всичко изброено в останалите отговори<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">45. Кой ръководи спасителната дейност на север от нос Емине?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q5" type="radio" />&nbsp;Дирекция "Морска администрация" Варна<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Дирекция "Пристанищна администрация"Варна<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Дирекция "Морска администрация" Бургас<br />
            <input class="section4" name="Q5" type="radio" Answer="true" />&nbsp;Главна дирекция "Аварийно спасителна дейност"<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">46. Кой ръководи спасителната дейност на юг от нос Емине?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q6" type="radio" />&nbsp;Дирекция "Морска администрация" Варна<br />
            <input class="section4" name="Q6" type="radio" Answer="true" />&nbsp;Главна дирекция "Аварийно спасителна дейност"<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Дирекция "Морска администрация" Бургас<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Дирекция "Пристанищна администрация" Бургас<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">47. Кога е възможно изхвърлянето на пластмасови бутилки в морето?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q7" type="radio" Answer="true" />&nbsp;Това е абсолютно забранено<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Извън дванадесет милната зона<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;На не по-малко от две морски мили от брега<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Няма никакви ограничения<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">48. При аварийно напускане на кораба, членовете на екипажа трябва да:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q8" type="radio" Answer="true" />&nbsp;Да останат заедно в района, защото спасителите ще започнат търсене от последната известна позиция на кораба<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;Да се отправят незабавно към най-близкия бряг, кой както може<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;Да се разпръснат в различни посоки за да увеличат вероятността да бъдат открити<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;Всеки взема решение сам за себе си<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C"></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">49. В Черно море, което е "специална зона" /"special area" по Анекс V на МАРПОЛ/, на какво разстояние от брега може да се изхвърлят зад борд бутилки и стъкла?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q9" type="radio" />&nbsp;На 2 морски мили<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;На 6 морски мили<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;На 3 морски мили<br />
            <input class="section4" name="Q9" type="radio" Answer="true" />&nbsp;Трябва да се съхраняват на борда<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>МАРПОЛ Правило 5 ал.2/а/(i)/(ii)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">50. Който наруши или не спази указанията на Трафик-контрола за движението в района на пристанищата:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q10" type="radio" />&nbsp;Се наказва с глоба от 10000 до 25000лв<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Се наказва с глоба от 400 до 800лв<br />
            <input class="section4" name="Q10" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 1000 до 2500лв<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Се наказва с глоба от 100 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.382</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section4" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="51-60.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
