<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА	51-60</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section4" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">51. Който наруши или не спази правилата за използване на котвените стоянки:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q1" type="radio" />&nbsp;Се наказва с глоба от 10000 до 25000лв<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Се наказва с глоба от 400 до 800лв<br />
            <input class="section4" name="Q1" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 1000 до 2500лв<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Се наказва с глоба от 100 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.382</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">52. Който наруши или не спази правилата за радиообмена:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q2" type="radio" />&nbsp;Се наказва с глоба от 10000 до 25000лв<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Се наказва с глоба от 200 до 400лв<br />
            <input class="section4" name="Q2" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 500 до 5000лв<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Се наказва с глоба от 100 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.382</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">53. Който наруши или не спази правилата за пожарна безопасност:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q3" type="radio" />&nbsp;Се наказва с глоба от 10000 до 25000лв<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Се наказва с глоба от 200 до 400лв<br />
            <input class="section4" name="Q3" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 500 до 5000лв<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Се наказва с глоба от 100 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.382</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">54. Който наруши или не спази правилата за предпазване на морето от замърсяване:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q4" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 10 000 до 50 000лв<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Се наказва с глоба от 200 до 400лв<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Се наказва с глоба от 500 до 5000лв<br />
            <input class="section4" name="Q4" type="radio" />&nbsp;Се наказва с глоба от 100 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.382</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">55. Който наруши подзаконови нормативни актове /Наредби1,5 и др./ по прилагането на КТК:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q5" type="radio" Answer="true" />&nbsp;Ако не подлежи на друга санкция се наказва с глоба от 400 до 2000лв<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Ако не подлежи на друга санкция се наказва с глоба от 4000 до 20000лв<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Ако не подлежи на друга санкция се наказва с глоба от 100 до 200лв<br />
            <input class="section4" name="Q5" type="radio" />&nbsp;Ако не подлежи на друга санкция се наказва с глоба от 10 до 200лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.381 ал.3</strong></td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">56. Който наруши законно разпореждане на Изпълнителна агенция "Морска Администрация":</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q6" type="radio" />&nbsp;Се наказва с глоба от 400 до 2000лв<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Се наказва с глоба от 4000 до 20000лв<br />
            <input class="section4" name="Q6" type="radio" />&nbsp;Се наказва с глоба от 100 до 200лв<br />
            <input class="section4" name="Q6" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 10 до 250лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.381 ал.2</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">57. Който наруши разпоредби по КТК се:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q7" type="radio" />&nbsp;Се наказва с глоба от 400 до 2000лв<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Се наказва с глоба от 4000 до 20000лв<br />
            <input class="section4" name="Q7" type="radio" />&nbsp;Се наказва с глоба от 100 до 200лв<br />
            <input class="section4" name="Q7" type="radio" Answer="true" />&nbsp;Се наказва с глоба от 20 до 500лв<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>КТК Чл.381 ал.1</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">58. В кой корабен документ се посочва района на плаване на кораба?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q8" type="radio" />&nbsp;В корабния дневник<br />
            <input class="section4" name="Q8" type="radio" Answer="true" />&nbsp;В контролния талон или свидетелството за годност<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;В свидетелството за регистрация<br />
            <input class="section4" name="Q8" type="radio" />&nbsp;В нито едно от изброените по-горе<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Разпореждане 68 на ИД на ИАМА</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">59. В кой нормативен акт се определя спасително и навигационно оборудване на малките  и неконвенционалните кораби ?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q9" type="radio" />&nbsp;В  ЗМПВВППРБ<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;В КТК<br />
            <input class="section4" name="Q9" type="radio" Answer="true" />&nbsp;В Разпореждане №68 на изпълнителния директор на ИАМА<br />
            <input class="section4" name="Q9" type="radio" />&nbsp;В Наредба№1 за вписване в регистрите на корабите<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Разпореждане 68 на изпълнителния директор на ИАМА</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">60. Корабният документ е невалиден, когато:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q10" type="radio" />&nbsp;Е изтекъл срокът, за който е издаден, или няма ежегодна заверка, ако се изисква такава<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Корабът промени името си<br />
            <input class="section4" name="Q10" type="radio" />&nbsp;Корабът промени собственика си<br />
            <input class="section4" name="Q10" type="radio" Answer="true" />&nbsp;Всички изброени в "а", "б" и "в"<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Чл.5 от Наредба №5</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section4" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="61-63.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
