<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НОРМАТИВНА ПОДГОТОВКА	51-63</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section4" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">61. Кой корабен документ удостоверява, че кораба е годен да плава?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q1" type="radio" />&nbsp;Свидетелство за корабна радиостанция<br />
            <input class="section4" name="Q1" type="radio" Answer="true" />&nbsp;Контролен талон или свидетелство за годност<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Свидетелство за регистрация<br />
            <input class="section4" name="Q1" type="radio" />&nbsp;Корабен дневник<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Наредба №5 за корабните документи</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">62. На джетовете и другите моторни плавателни средства се забранява плаването:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q2" type="radio" />&nbsp;На разстояние, по-малко от 200м навътре в морето от плаващите шамандури, обозначаващи зоната за санитарна охрана и къпане, на охраняеми плажове<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;Извън означените с плаващи въжета и шамандури водни коридори на зоната за водни спортове на охраняемите плажове<br />
            <input class="section4" name="Q2" type="radio" />&nbsp;На разстояние, по-малко от 300м от брега, в крайбрежните зони, където няма охраняеми плажове<br />
            <input class="section4" name="Q2" type="radio" Answer="true" />&nbsp;Всичко изброено в другите отговори<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Наредба за плаването и граничния режим във вътрешните морски води…… чл. 13, ал.4</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section4_TR_Q">
        <td class="section4_Q">63. С каква скорост джетовете и другите моторни плавателни средства потеглят и се връщат до определените им райони за плаване?:</td>
    </tr>
    <tr class="section4_TR_A">
        <td class="section4_A">
            <input class="section4" name="Q3" type="radio" Answer="true" />&nbsp;Със скорост  не по-висока от 5 възела, или 9 км/ч.<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Със скорост 10възела<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Със скорост 15 възела<br />
            <input class="section4" name="Q3" type="radio" />&nbsp;Няма посочен верен отговор<br />
        </td>
    </tr>
    <tr class="section4_TR_C">
        <td class="section4_C">документ регламентиращ правилния отговор: <strong>Наредба за плаването и граничния режим във вътрешните морски води…… чл. 13, ал.6</strong></td>
    </tr>
    <!--Q3-->    
 </table><br /><br />
 <button class="section4" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <!--<a href="61-63.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>-->
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
