<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО МОРСКО ДЕЛО 1-10</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section3" cellpadding="0" cellspacing="0" id="table_Content">
     <tr>
        <td>
            <h1 style="text-decoration: underline;">ВЪПРОСИ ПО МОРСКО ДЕЛО<br /><br /></h1>
        </td>
    </tr>
    <!--Q1-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">1. Съобщение за закрити или опасни райони за плаване, или опасни плаващи предмети по Българското черноморско крайбрежие се предават от:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q1" type="radio" />&nbsp;Пилотска станция на 14 канал<br />
            <input class="section3" name="Q1" type="radio" Answer="true" />&nbsp;Чрез Навигационни известия до мореплавателите (НАВИМ) на 26 канал<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Чрез Варна-контрол на 16 канал<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Чрез телевизията<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">2. Бюлетинът за времето и състоянието на морето на УКВ се излъчва на:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q2" type="radio" Answer="true" />&nbsp;Канал 26<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Канал 16<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Канал 70<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Канал 9<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">3. Бюлетинът за времето и състоянието на морето на УКВ се излъчва в часовете:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q3" type="radio" />&nbsp;При изгрева и залеза на Слънцето<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;В 07.33, 13.33 и 19.33 часа-местно (българско) време - LT<br />
            <input class="section3" name="Q3" type="radio" Answer="true" />&nbsp;В 07.33, 13.33 и 19.33 часа - стандартно време - UTC<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;В 06.00 и 12.00 часа местно време<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">4. Форщевен е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q4" type="radio" Answer="true" />&nbsp;Носовата права или извита греда като продължение на кила,  очертаваща носа<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Кърмовата права или извита греда като продължение  на кила, очертаваща кърмата<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Напречна дънна греда на корпуса<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Напречна греда на главна палуба<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">5. Фалшборд е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q5" type="radio" Answer="true" />&nbsp;Предпазно ограждение на главна палуба като продължение на обшивката на корпуса<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Двойна преграда на дъното<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Издадена площадка извън линията на корпуса в района на кърмата<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Издадена площадка извън линията на корпуса в района на носа<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">6. Главна палуба наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q6" type="radio" Answer="true" />&nbsp;Хоризонтално разположена конструкция, която се опира на бордовете и е от носа до кърмата<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Дървена настилка в хамбарите за изолиране на товара от влага<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Палубата на главния мостик на океанските кораби<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Пояс на външна обшивка на кораба в района на скула<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">7. Леери наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q7" type="radio" />&nbsp;Стълби за слизане и качване от/на кораба<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Капаци за затваряне на товарни хамбари<br />
            <input class="section3" name="Q7" type="radio" Answer="true" />&nbsp;Парапетни ограждения по палубата и надстройките на кораба<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Хвъргалото на спасителната лодка<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">8. Прозорците от надстройката на кораба се наричат:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q8" type="radio" />&nbsp;Гърловини, отвори<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Вентилационни люкове<br />
            <input class="section3" name="Q8" type="radio" Answer="true" />&nbsp;Илюминатори, финистрини<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Лули, отдушници<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">9. Вратите и люковете на главна палуба трябва да са:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q9" type="radio" Answer="true" />&nbsp;Водоплътни<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Заключващи се<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Остъклени<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Взривоустойчиви<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">10. Бак наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q10" type="radio" />&nbsp;Специалист по морско дело, ръководещ работата на моряците на палубата<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Бордова врата в корпуса за приемане на товари<br />
            <input class="section3" name="Q10" type="radio" Answer="true" />&nbsp;Палуба над главна палуба на носа на кораба<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Надстройката над главна палуба на кърмата на кораба<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section3" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="11-20.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
