<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО МОРСКО ДЕЛО 11-20</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section3" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">11. Ют наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q1" type="radio" />&nbsp;Надстройката над главна палуба на носа на кораба<br />
            <input class="section3" name="Q1" type="radio" Answer="true" />&nbsp;Палуба над главна палуба на кърмата на кораба<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Плоска конструкция, която оформя сразването на кърмата на кораба<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Палубата, на която се нами-рат антените на радиосвър-зочните средства<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">12. Корпусът на кораба по дължина е разделен на водонепроницаеми отсеци чрез:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q2" type="radio" />&nbsp;Надлъжни прегради от дъното до главна палуба<br />
            <input class="section3" name="Q2" type="radio" Answer="true" />&nbsp;Напречни прегради от дъното до главна палуба<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Водонепроницаеми врати и люкове<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Водонепроницаеми лацпорти<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">13. Качването и слизането на/от кораба се извършва по:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q3" type="radio" Answer="true" />&nbsp;Сходни и трапове<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;През фалшборда<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;През батапорта<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Със спасителните лодки<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">14. При увеличаване теглото на товара на борда на кораба:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q4" type="radio" Answer="true" />&nbsp;Увеличава се и подемната сила на водата<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Намалява се подемната сила на водата<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Няма промяна в големината на подемната сила на водата<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Корабът губи устойчивост и се преобръща<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">15. Метацентричната височина на кораба е свързана със:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q5" type="radio" />&nbsp;Запаса на плавателност<br />
            <input class="section3" name="Q5" type="radio" Answer="true" />&nbsp;Устойчивостта му<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Здравината на корпуса<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Вълнението на морето<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">16. Центърът на тежестта на кораба се премества при поставяне на товар на главната палуба:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q6" type="radio" />&nbsp;Надолу по диаметралната (вертикалната) равнина на кораба<br />
            <input class="section3" name="Q6" type="radio" Answer="true" />&nbsp;Нагоре по диаметралната (вертикалната) равнина на кораба<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Наляво от диаметралната равнина<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Надясно от диаметралната равнина<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">17. Центърът на тежестта на кораба ще се премести надолу по вертикалната равнина ако:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q7" type="radio" />&nbsp;Поставим товар на бака на кораба<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Поставим товар на юта на кораба<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Поставим товар на главна палуба<br />
            <input class="section3" name="Q7" type="radio" Answer="true" />&nbsp;Поставим товар ниско в корпуса, до кила<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">18. Мероприятия за подобряване устойчивостта на кораба са:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q8" type="radio" Answer="true" />&nbsp;Увеличаване на метацентричната височина на кораба<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Намяване на метацентричната височина на кораба<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Хоризонтално разместване на товари<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Всички изброени<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">19. Метацентричната височина се увеличава когато:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q9" type="radio" />&nbsp;На главна палуба се разположат тежки товари<br />
            <input class="section3" name="Q9" type="radio" Answer="true" />&nbsp;Тежките товари се разполагат ниско долу в корпуса<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Хоризонтално се преместват товарите на кораба<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Всички изброени<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">20. За подобряване устойчивостта при превоз на хора с лодки и катери е необходимо:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q10" type="radio" Answer="true" />&nbsp;Хората да се разполагат симетрично по двата борда  и да няма прави<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Хората да се разполагат възможно най-близо до кърмата<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Хората да се разполагат възможно  най-близо до носа<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Няма значение от разположението, а само от броя лица на борда<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section3" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="21-30.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
