<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО МОРСКО ДЕЛО 41-50</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section3" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">41. Спасителния кръг освен околовръстно леерно въже (спасителен леер) и светлоотражателни ленти трябва да се окомплектова и с:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q1" type="radio" />&nbsp;Свирка, батерия с крушка и електрическо фенерче<br />
            <input class="section3" name="Q1" type="radio" Answer="true" />&nbsp;Въже с дължина 30 метра и самозадействащ се плаващ буй или плаваща димка<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Инструкция за мерките за оцеляване и контейнер хранителни припаси<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">42. Пасивният радиолокационен отражател служи за:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q2" type="radio" />&nbsp;Намаляване на смущенията върху радарната картина<br />
            <input class="section3" name="Q2" type="radio" Answer="true" />&nbsp;Увеличаване отразяващата повърхност от кораба<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Пиротехническо средтво за сигнализация<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">43. Корабите, намиращи се на море, оборудвани с УКВ радиостанции са длъжни постоянно да слушат на:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q3" type="radio" />&nbsp;Канал 26<br />
            <input class="section3" name="Q3" type="radio" Answer="true" />&nbsp;Канал 16<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Канал 77<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Канал 9<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">44. Думата  "MAYDAY" означава:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q4" type="radio" Answer="true" />&nbsp;Сигнал за бедствие<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Сигнал за поздрав<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Сигнал за щормово време<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Майски ден<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">45. Рангоут наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q5" type="radio" Answer="true" />&nbsp;Вертикални и наклонени греди за вдигане и носене на ветрилата<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Посока на вятъра, идваща по носа на ветроход<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Въжета, които служат за управление на ветрилата<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Посока на вятъра, идваща по кърмата на ветроход<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">46. Хоризонталната рангоутова греда, закрепена в средата си към мачтата и служеща за закрепване на ветрила или вдигане на сигнали е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q6" type="radio" Answer="true" />&nbsp;Рея<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Гик<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Стенга<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Бушприт<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">47. Гик наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q7" type="radio" Answer="true" />&nbsp;Хоризонталната рангоутова греда, закрепена в единия си край към мачтата за прикрепване на долната шкаторина на ветрилото<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Наклонена рангоутова греда закрепена в единия си край към мачтата за вдигане на сигнали и флагове<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Вертикална рангоутова греда,която е продължение на мачтата<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Вертикални и наклонени греди за вдигане и носене на ветрилата<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">48. Хоринзонтална или леко наклонена рангоутова греда, закрепена към носа на кораба и излизаща пред форщевена е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q8" type="radio" />&nbsp;Стенга<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Рея<br />
            <input class="section3" name="Q8" type="radio" Answer="true" />&nbsp;Бушприт<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Гик<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">49. Рифоване е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q9" type="radio" Answer="true" />&nbsp;Намаляване площта на ветрилото заради силен вятър<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Отстраняване на деформации по корпуса на кораба<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Засядане на кораба на плитчина<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Почистване  корпуса на кораба<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">50. При маневриране за заставане на котва, котвата се отдава в момента, когато корабът:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q10" type="radio"  />&nbsp;Няма никакво движение относно  водата.<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Има леко движение напред<br />
            <input class="section3" name="Q10" type="radio" Answer="true" />&nbsp;Има движение назад<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Няма значение<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section3" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="51-60.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
