<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО МОРСКО ДЕЛО 81-90</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section3" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">81. Рискливост наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q1" type="radio" Answer="true" />&nbsp;Неустойчив курс на кораба, самопроизволно често и бързо отклоняване от курса<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Променлива скорост на кораба<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Способността на кораба да плава под въздействие на течението<br />
            <input class="section3" name="Q1" type="radio" />&nbsp;Способността на кораба да плава под въздействие на вятъра и течението<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">82. Плаваща котва е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q2" type="radio" Answer="true" />&nbsp;Приспособление, с което се намалява дрейфа на кораба<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Приспособление, което оказва голямо съпротивление при движение на кораба<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Метод за закотвяне<br />
            <input class="section3" name="Q2" type="radio" />&nbsp;Начин по който е закрепена котвата към кораба<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">83. Товароподемност на кораба е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q3" type="radio" Answer="true" />&nbsp;Количеството товар, запаси, снабдяване и екипаж, който кораба може да носи при действащата товарната водолиния<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Количеството товар, което приема кораба в товарните помещения<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Количеството товар, което приема кораба в товарните помещения и на палубата<br />
            <input class="section3" name="Q3" type="radio" />&nbsp;Количеството товар, което приема кораба в товарните помещения, на палубата и в складовете<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">84. Плавучест наричаме:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q4" type="radio" />&nbsp;Способността на кораба да плава по инерция<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Способността на кораба да плава при голямо вълнение<br />
            <input class="section3" name="Q4" type="radio" Answer="true" />&nbsp;Способността на кораба да плава при зададено газене и зададено количество хора и товар на борда<br />
            <input class="section3" name="Q4" type="radio" />&nbsp;Способността на кораба да развива зададена скорост<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">85. Стенгата е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q5" type="radio" Answer="true" />&nbsp;Удължение на мачтата<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Наречна греда за закрепване на платната<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Въже за вдигане на платно<br />
            <input class="section3" name="Q5" type="radio" />&nbsp;Удължение на бушприта<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">86. Утлегар е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q6" type="radio" />&nbsp;Удължение на мачтата<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Наречна греда за закрепване на платната<br />
            <input class="section3" name="Q6" type="radio" />&nbsp;Въже за вдигане на платно<br />
            <input class="section3" name="Q6" type="radio" Answer="true" />&nbsp;Удължение на бушприта<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">87. Обемно водоизместване е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q7" type="radio" />&nbsp;Частта от обема на кораба, намираща се под нивото на главна палуба<br />
            <input class="section3" name="Q7" type="radio" Answer="true" />&nbsp;Частта от обема на кораба, намираща се под нивото на водата<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Частта от обема на кораба, намираща се под главната водолиния<br />
            <input class="section3" name="Q7" type="radio" />&nbsp;Частта от обема на кораба, включваща обема на товарните помещения<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">88. Тегловно водоизместване е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q8" type="radio" Answer="true" />&nbsp;Теглото на изместената от кораба вода<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Теглото на изместената от кораба допълнително вода, следствие на приетия товар<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Теглото на изместената вода от празен кораб<br />
            <input class="section3" name="Q8" type="radio" />&nbsp;Теглото на изместената от кораба вода, при максимален товар<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">89. Посочете кое твърдение не е вярно при движение на кораба при силно вълнение:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q9" type="radio" />&nbsp;Понижава се упора на винта<br />
            <input class="section3" name="Q9" type="radio" Answer="true" />&nbsp;Увеличава се скоростта на движение на кораба<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Понижава се въздействието на винта върху перото руля<br />
            <input class="section3" name="Q9" type="radio" />&nbsp;Трудно се удържа курса на кораба<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section3_TR_Q">
        <td class="section3_Q">90. Фал е:</td>
    </tr>
    <tr class="section3_TR_A">
        <td class="section3_A">
            <input class="section3" name="Q10" type="radio" />&nbsp;Въже за закрепване на платната към реите<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Въже за управление на платната<br />
            <input class="section3" name="Q10" type="radio" Answer="true" />&nbsp;Въже за вдигане на платно<br />
            <input class="section3" name="Q10" type="radio" />&nbsp;Въже за издърпване при спасяване<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section3" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="91-100.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
