<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 11-20</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">11. Точка с координати φ = 67°58'¸5 S и λ = 178°05',8 W се намира:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;в западното полукълбо, северната част<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;в южното полукълбо, източната част<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;в южното полукълбо, западната част<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;на изток от гринуички меридиан и на юг от екватора<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">12. В коя точка от земното кълбо ще имаме само направление- ЮГ:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;на южния полюс<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;в пресечната точка на екватора и гл.меридиан<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;на северния полюс<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;на коя да е точка от южния полярен кръг<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">13. По кръговата система за отчитане на световните посоки, равнината на наблюдателя е разделена:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;от 0° до 180 °<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;от 0° до 90°<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;от 0° до 360°<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;от -180° до + 180°<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">14. По кръговата система за отчитане на световните посоки, отчитането е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;от север на запад (обратно на часовниковата стрелка)<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;от север на изток (по часовниковата стрелка)<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;от север на изток или запад от 0° до 180°<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;от север без значение в коя посока на часовниковата стрелка<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">15. По полукръговата система за отчитане на световните посоки, равнината на наблюдателя е разделена:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;от  0° до 180°<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от 0° до 360°<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от 0° до 90°<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от - 90° до + 90°<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">16. По четвъртната система за отчитане на световните посоки, равнината на наблюдателя е разделена:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;от 0° до 180°<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;от 0° до 360°<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;от 0° до 90°<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;от -180° до + 180°<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">17. По румбовата система за отчитане на световните посоки, равнината на наблюдателя е разделена:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;от 0° до 360°<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;на 32 радиана<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;на 32 части<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;от - 90° до + 90°<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">18. Един румб е равен на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;11° ¼<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;185 метра<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;1/360 от градуса<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;1/36 от кръга<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">19. Истинския курс (ИК) е ъгъл заключен между:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;северната част на меридиана и посоката на движение на кораба<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;северната част на меридиана и посоката към брегови предмет / ориентир<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;диаметралната равнина на кораба и посоката към даден предмет/ориентир<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;посоката на движение на кораба и източната част на паралела<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">20. Истински пеленг (ИП) наричаме:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;ъгъл, заключен между северната част на меридиана и посоката на движение на кораба<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;ъгъл, заключен между северната част на меридиана и посоката към даден предмет<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;ъгъл, заключен между диаметралната равнина на кораба и посоката към предмет<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;ъгъл, заключен между източната част на паралела и посоката на даден предмет<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="21-30.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
