<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 111-120</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">111. За района на Българското черноморско крайбрежие през деня БРИЗА има посока:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;от морето към брега<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;от брега към морето<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;от запад на изток<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;успоредно на крайбрежието в посока север-юг<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">112. Нарушаването на денонощния ритъм на бриза е признак за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;подобряване на времето<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;устойчиво и продължително хубаво време<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;влошаване на времето<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;предстоящи валежи<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">113. При залез слънце, когато вятърът се засилва и се завърта по часовата стрелка може да се очаква:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;спадане на вятъра и утихване<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;щорм<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;устойчиво и хубаво време<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;цунами<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">114. Когато температурата на въздуха през нощта е по-висока от тази през деня  може да се очаква:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;подобряване на времето<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;устойчиво и продължително хубаво време<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;влошаване на времето<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;наближаване на зимата<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">115. Когато през деня влажността на въздуха намалява, а вечерта се увеличава това е признак за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;устойчиво и хубаво време<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;влошаване на времето<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;щорм<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;мъгла<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">116. Пурпурното небе при изгрева на слънцето е признак за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;лошо време-вятър, дъжд<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;хубаво и устойчиво време<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;подобряване на времето<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;повишаване на влажността на въздуха<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">117. Ако около луната или слънцето има ХАЛО (голям кръг) това може да е признак за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;лошо време-вятър, дъжд<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;хубаво и устойчиво време<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;мъгла<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;по-големи приливи и отливи<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">118. Когато Луната изгрява червена, се очаква:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;вятър<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;мъгла<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;хубаво време<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;мъртво вълнение<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">119. Когато чайките кацат и стоят по повърхността на морето се очаква:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;влошаване на времето<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;мъгла<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;хубаво време<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;застудяване<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">120. Когато при дъжд птиците летят високо се очаква:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;влошаване на времето<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;подобряване на времето<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;щорм<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;не се очаква промяна на времето<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="121-130.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
