<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 141-150</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">141. Морското течение, което е в близост до Българското черноморско крайбрежие има</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;направление от юг към север<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;направление от север към юг<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;направление от запад към изток<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;променливо направление<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">142. Дълбочините на морската навигационна карта № 201 Българско черноморско крайбрежие са нанесени в:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;сажени<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;метри<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;футове и инчове<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;футове<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">143. Приборът, който служи за измерване на дълбочини се нарича:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;лаг<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;лот<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;радиолокационен транспондер<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;анемометър<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">144. За бързо и точно измерване на дълбочини независимо от скоростта на кораба се използва:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;хидродинамичен лаг<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;ехолот<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;лот<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;устройство за геопозициониране<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">145. С помощта на ръчен лот се измерват дълбочини до:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" />&nbsp;10 метра и скорост до 7 вз.<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;20 метра и скорост до 5 вз.<br />
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;50 метра и скорост до 3 вз.<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;1 кабелт и скорост 0 вз.<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">146. С помощта на ръчния лот може да се определя и:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;характера на грунта<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;плътността на водата<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;температурата на водата<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;скоростта на водата<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">147. Ехолотът измерва дълбочината от:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;от дъното до водолинията<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;от дъното до кила на кораба<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;от главна палуба до кила на кораба<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;от дъното до мостика<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">148. При планиране на рейс на навигационните карти се надписват:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;само компасните посоки<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;само истинските посоки<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;само магнитните посоки<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;географските координатите в които се планирани вахтените смени<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">149. При какви условия корабът трябва да се движи с безопасна скорост</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;само в ограничена видимост<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;само през нощта<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;по всяко време<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;когато предстои разминаване<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">150. Съгласно добрата морска практика безопасното разстояние за разминаване е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;минимум 10 кабелта<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;минимум 12 кабелта<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;минимум 20 кабелта<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;не по-малко от 3 морски мили<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="151-160.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
