<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 161-170</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">161. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img159.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;останки от потънал кораб, чиято мачта се показва над водата<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;изкуствен навигационен ориентир<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;потънал под водата кораб<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;мачта, на която има поставена УКВ антена<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">162. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img160.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;УКВ радио антена<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;изкуствен навигационен ориентир<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;останки от потънал кораб, които не са опасни за корабоплаване под повърхността<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;потънал кораб, чийто корпус се вижда над водата<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">163. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img161.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;препятствие с най-малка дълбочина над него, както е указана<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;отделна изолирана дълбочина<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;отделна плитковина с приблизително измерена дълбочина<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;препятствие за корабоплаването с посочена височина над водата<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">164. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img162.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;опасни останки от потънал кораб, дълбочината е неизвестна<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;УКВ радио антена с приблизително нанесено място<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;отделна плитковина с приблизително нанесено място<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;потънал кораб, чийто корпус се вижда над водата<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">165. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img163.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;останки от потънал кораб, дълбочината е неизвестна<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;останки от потънал кораб, които не са опасни за корабоплаване по повърхността<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;потънал кораб, чийто корпус се вижда над водата<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;потънал под водата кораб<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">166. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img164.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;буй за изолирана опасност<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;платформа с дадено наименование/обозначение<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;фар светещ с червена светлина<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;буй за безопасни води<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">167. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img165.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;задължително кръгово движение около платформата<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;район забранен за риболов<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;зона за безопасност около отдалечено от брега съоръжение<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;швартови буй<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">168. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img166.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;препоръчителен фарватер<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;траектория на променливо морско течение<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;фарватер, на който е разрешено заставането на котва<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;подводен кабел<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">169. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img167.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;линия обозначаваща подводен кабел<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;фарватер, на който е разрешено заставането на котва<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;подводен тръбопровод за нефт / газ<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;подводни кладенци за добив на нефт / газ<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">170. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img168.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;водещи/створни знаци<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;посоката на положен подводен тръбопровод<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;посоката на положен подводен кабел<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;направление по което трябва да се избягва движението<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="171-180.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
