<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 171-180</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">171. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img169.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;препоръчан път с максимално допустимо въздушно газене, обозначено на него<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;препоръчан път с максимално допустимо газене, обозначено на него<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;посоката на положен подводен тръбопровод с дълбочина над него<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;направление по което трябва да се избягва движението в продължение на 7 мили<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">172. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img170.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;забранено заставането на котва<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;безопасно място, където може да се приспусне котвата<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;място, при преминаването на което котвата трябва да се приготви за отдаване<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;място за заставане на котва<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">173. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img171.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;котвена стоянка<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;място забранено за заставане на котва<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;район забранен за заставане на котва<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;котвена стоянка за кораби превозващи опасни товари<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">174. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img172.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;обичаен път за движение на рибните пасажи<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;граница на риболовна зона<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;зона, в която могат да се движат само риболовни кораби<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;зона, забранена за преминаване на всякакви кораби<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">175. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img173.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" />&nbsp;брегова линия с плажна ивица<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;брегова линия с пустиня<br />
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;брегова линия, която е изследвана<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;брегова линия, която не е изследвана<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">176. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img174.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;брегова линия с пустиня<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;брегова линия с плажна ивица<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;брегова линия, която не е изследвана<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;приблизително нанесена брегова линия<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">177. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img175.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;бряг с гори в крайбрежната зона<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;бряг с дюни близо до брега<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;брегова линия, която не е изследвана<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;стръмен скалист бряг<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">178. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img176.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;бряг с дюни близо до брега<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;приблизително нанесена брегова линия<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;брегова линия, която не е изследвана<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;песъчлив бряг<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">179. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img177.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;триангулачни точки<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;приблизителни стойности на нанесените височини<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;отделни височини на брега<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;приблизително нанесени места на височини<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">180. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img178.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;подводен тръбопровод<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;кабел високо напрежение на пилони с обозначение на безопасната височина за преминаване<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;място където плава ферибот свързващ двата бряга<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;линия, на която е забранено заставането на котва<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="181-190.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
