<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 181-190</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">181. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img179.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;опасност за корабоплаването, която е над водата<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;опасни подводни скали с неизвестна дълбочина над тях<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;скали, които се виждат над водата<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;място, на което е потънал неизвестен кораб<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">182. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img180.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;закотвена пилотска станция, носеща червена светлина<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;плаваща УКВ радиоразпръсквателна станция<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;плаващ фар<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;буй с кръстовидна топова фигура, светещ червено<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">183. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img181.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;секторна светлина<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;кръгово видима светлина със сектор, в който не се вижда<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;кръгово видима светлина със сектор, в който свети червено<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;кръгово видима светлина със сектор, в който плаването е забранено<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">184. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img182.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;кръгово видима светлина със сектор, в който не се вижда<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;кръгово видима светлина със сектор, в който свети червено<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;кръгово видима светлина със сектор, в който плаването е забранено<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;кръгово видима светлина със сектор, в който е забранено заставането на котва<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">185. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img183.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" />&nbsp;швартови буй<br />
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;коничен буй<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;швартова веха<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;цилиндричен буй<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">186. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img184.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;швартови буй<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;коническа веха<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;веха<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;швартова веха<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">187. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img185.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;цилиндрична веха<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;швартови буйове<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;цилиндричен буй<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;веха<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">188. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img186.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;западен буй многобързо пробляскващ 3 проблясъка за 5 сек. или бързо пробляскващ 3 проблясъка за 10 сек.<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;северен буй, многобързо 3 проблясъка за 5 сек. или бързо пробляскващ 3 проблясъка за 10 сек.<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;буй обозначаващ изолирана опасност<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;източен буй многобързо пробляскващ 3 проблясъка за 5 сек. или бързо пробляскващ 3 проблясъка за 10 сек.<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">189. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img187.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;западен буй многобързо пробляскващ 9 проблясъка за 10сек. или бързо пробляскващ 9 проблясъка за 15 сек.<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;северен буй, многобързо 9 проблясъка за 10 сек. или бързо пробляскващ 9 проблясъка за 15 сек.<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;източен буй многобързо пробляскващ 9 проблясъка за 10 сек. или бързо пробляскващ 9 проблясъка за 15 сек.<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;буй обозначаващ безопасни води<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">190. Знакът нанесен на морска карта означава:<br /><img src="../Images/Img188.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;веха обозначаваща изолирана опасност<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;веха обозначаващ безопасни води<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;северна веха, пробляскваща 2 пъти<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;веха обозначаваща нова опасност, пробляскваща с два червени проблясъка<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="191-200.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
