<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 201-210</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">201. Нанесеното съкращение в акваторията на българска морска карта "П" означава:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;плитчина<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;потънал под водата кораб<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;пясък<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;подводно препятствие<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">202. Нанесеното съкращение в акваторията на българска морска карта "Р"означава:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;местообитание на рапани<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;раковини<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;обичайно място за струпване на риба<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;обичайно място за струпване на раци<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">203. Нанесеното съкращение в акваторията на българска морска карта "ТР" означава:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;рядка тиня<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;подводно препятствие<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;временно място за струпване на риба<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;тиня и раковини<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">204. Нанесеното съкращение "РФ" при навигационна светлина на българска морска карта означава:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;пасивен радиолокационен отражател на фар<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;активен радиолкационен отражател на фар<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;секторен радиофар<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;радиофар<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">205. Нанесеното съкращение на българска морска карта означава:<br /><img src="../Images/Img192.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;навигационен знак, пробляскващ 3 пъти за 15 сек. с далечина на видимост 25 мили, подаващ сигнал за мъгла - буквата "Н"<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;фар пробляскващ 15 пъти за 3 сек. С далечина на видимост 25 метра<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;фар, затъмняващ 3 пъти за 15 сек., с далечина на видимост 25 мили и мегафон<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;фар, светещ постоянно с зелена светлина, далечина на видимост 25 мили и подаващ сигнал за мъгла - буквата "н" с мегафон<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">206. Нанесеният знак и съкращения на българска морска карта означава:<br /><img src="../Images/Img193.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;западен буй, пробляскващ 3 пъти за 10 сек. С зелена светлина, оборудван с ревун<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;източен буй, често пробляскващ 3 пъти за 10 сек. бял оборудван с ревун<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;източен буй, пробляскващ 3 пъти за 10 сек. С зелена светлина, оборудван с ревун<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;източен буй, често пробляскващ през за 10 сек. С зелена светлина, оборудван с ревун<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">207. Показаният флаг означава:<br /><img src="../Images/Img194.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;Флаг "А" - товаря, разтоварвам опасен товар<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;Флаг "Т" - не пресичайте моя курс / не минавайте по носа ми<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;Флаг "В" - товаря / разтоварвам опасен товар<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;Флаг "M" - на борда си имам лекар<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">208. Показаният флаг означава:<br /><img src="../Images/Img195.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;Флаг "С" - Да, утвърдителен<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;Флаг "Н" - имам пилот на борда<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Флаг "В" - товаря / разтоварвам опасен товар<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Флага "U -Вие отивате към опасност<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">209. Показаният флаг означава:<br /><img src="../Images/Img196.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;Флаг "А" - товаря, разтоварвам опасен товар<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Флаг "С" - Да, утвърдителен<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;Флаг "N" - не, отрицание<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Флаг "M" - на борда си имам лекар<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">210. Показаният флаг означава:<br /><img src="../Images/Img197.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;Флаг "А" - товаря, разтоварвам опасен товар<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;Флаг "Н" - имам пилот на борда<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;Флаг "N" - не, отрицание<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;Флаг "G" - искам пилот<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="211-220.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
