<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 21-30</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">21. Този ъгъл наричаме:<br /><img src="../Images/Img150.png" /><!--<img src="../Images/question.jpg" />--></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;ИК (истински курс)<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;ИП (истински пеленг)<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;КЪ (курсови ъгъл)<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;МП (магнитен пеленг)<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">22. Курсови ъгъл (КЪ) наричаме:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;ъгъл, заключен между северната част към меридиана и посоката на даден предмет<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;ъгъл, заключен между диаметралната равнина на кораба и посоката към даден предмет<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;ъгъл, заключен между северната част на меридиана и магнитния полюс<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;разликата между два пеленга<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">23. Истинския курс (ИК) се измерва в градуси от:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;от 0° до 90° на север или на юг<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;от 0° до 180° към ляв или десен борд<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;от - 180° до + 180°<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;от 0° до 360°<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">24. Върху пътевата морска карта нанасяме/снемаме стойността на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;истинския курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;магнитиня курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;компасния курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;нито един от предходните<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">25. Курсовият ъгъл се измерва:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;от 0° до 180° към ляв или към десен борд<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от 0° до 360°<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от 0° до 90° към ляв или към десен борд<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;от 0° до 90° преди и след траверза<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">26. Курсове и пеленги се чертаят на морската карта с помощта на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;двубодов пергел<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;навигационен триъгълник или транспортир<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;протрактор<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;водолиния<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">27. Истинският пеленг (ИП) е равен на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;ИП = ИК + КЪ  д/б  или ИП = ИК -  КЪ  л/б<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;ИП = КП - К<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;ИП = КК +  КЪ  д/б или ИП = КК -  КЪ  л/б<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;ИП = ОКП ± КЪ<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">28. Корабният магнитен компас служи за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;определяне на проплаваното разстояние и скоростта на кораба<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;определяне на дълбочината<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;определяне курса на кораба и измерване на пеленги<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;определяне на поправката на жирокомпаса<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">29. Основен навигационен прибор на кораба (задължителен за всички кораби) е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;радиолокационна станция<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;магнитен компас<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;лот и ехолот<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;указател за скоростта на завиване<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">30. Стрелката на магнитния компас застава в направлението:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;определено от посоката на движение на кораба<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;север-юг<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;изток-запад<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;по диаметралната равнина на кораба<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="31-40.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
