<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 221-230</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">221. Възелът е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;е времето за което корабът изминава една морска миля<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;единица за скорост при която корабът изминава една миля за час<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;единица за разстояние<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;термин при плетене на въже<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">222. Корабният магнитен компас служи за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;Определяне на проплавано разстояние<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Определяне на дълбочината<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;Определяне курса на кораба и снемане на пеленги<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Определяне скоростта на кораба.<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">223. Основен навигационен прибор на кораба (задължителен за всички кораби) е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;Секстанта<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;Радиолокационната станция<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;Лот и ехолот<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;Магнитен компас<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">224. Поддържащата течност (компасната течност) на картушката при корабния магнитен компас е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;Дестилирана вода<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;Воден разтвор на етилов спирт<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;Специално масло<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;Спирт<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">225. Съобщение за закрити или опасни райони за плаване, или опасни плаващи предмети по Българското черноморско крайбрежие се предават от:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" />&nbsp;Пилотска станция на 14 канал<br />
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;Чрез Навигационни известия до мореплавателите (НАВИМ) на 26 канал<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;Чрез Варна-контрол на 16 канал<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;Чрез телевизията<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">226. Бюлетинът за времето и морето на УКВ - радиостанция по Българското черноморско крайбрежие се излъчва на :</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;Канал 26<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;Канал 16<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;Канал 70<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;Канал 9<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">227. Бюлетинът за времето и морето на УКВ - радиостанция по Българското черноморско крайбрежие се излъчва в часовете:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;При изгрева и залеза на Слънцето<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;В 07.33, 13.33 и 19.33 часа-местно (българско) време - LT<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;В 07.33, 13.33 и 19.33 часа - стандартно време - UTC<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;В 06.00 и 12.00 часа местно време<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">228. Посочете невярното твърдение за "Местни признаци за времето":</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;Местни признаци за времето са метеорологични , оптически и други явления, които могат да се наблюдават със специална апаратура и позволяващи да се съди за развитието на времето<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Местни признаци за времето са метеорологични , оптически и други явления, които могат да се наблюдават без специална апаратура и позволяващи да се съди за развитието на времето<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Местни признаци за времето за предсказване на времето са поведението на птиците и насекомите<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Местни признаци за времето не се определят чрез спътникови снимки<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">229. Способността на кораба да се подчинява на действието на руля наричаме:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;Циркулация на кораба<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Повратливост на кораба<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;Управляемост на кораба<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Рискливост на кораба<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">230. Повратливост на кораба като навигационно качество е способността на кораба да:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;Запазва посоката си на движение при определено положение на руля<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;Изменя за кратко време посоката си на движение<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;Да се движи по крива до описване на окръжност<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;Запазва плавучестта и маневреността си<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="231-239.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
