<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 231-239</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">231. Маневрени елементи на кораба са:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;Скорост,инерция, спирачен път, циркулация<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;Товароподемност, товаровместимост, брутотонаж<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;Устойчивост, плавателност, водоизместване<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;Всички изброени<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">232. Инерция на кораба наричаме:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;Способността на кораба да продължава праволинейното си движение след прекратяване работата на главния двигател<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Посоката и силата на движение на кораба спрямо морското дъно под въздействието на вятъра<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Силата,която действа в центъра на тежестта на кораба<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Способността на кораба да се връща в първоначално равновесно положение<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">233. Лаг се нарича:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;Прибор за определяне на скоростта на вятъра<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;Прибор за определяне на скоростта и изминатото от кораба разстояние<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;Прибор за определяне на скоростта на течението<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;Прибор за определянето на дълбочината<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">234. Циркулация на кораба е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;Линията нанасяна на навигационната карта, при движение на кораба<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;Движение на кораба по окръжност<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;Крива линия описвана при движението на кораба при оборот с постоянно отклонение на руля<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;Криволинейна траектория, която се описва от центъра на тежестта на кораба, вследствие отклонението на перата на руля<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">235. С диаметър на циркулация се измерва:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;Разстоянието между две противоположни точки, намиращи се на кривата, най-близка до окръжност, описвана от центъра на тежестта на кораба при пълен поворот<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;Разстоянието изминато от кораба при промяна на курса на 180°<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;Разстоянието изминато от кораба за едно денонощие<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;Разстоянието изминато от кораба за една вахта<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">236. Анемометър е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;Прибор за определяне на скоростта на течението<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;Прибор за определяне на скоростта и изминатото от кораба разстояние<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;Прибор за определяне на скоростта на вятъра<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;Прибор за определянето на дълбочината<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">237. Барометър-анероид е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;Прибор за определяне на температурата на водата<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;Прибор за определяне на температурата на въздуха<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;Прибор за определяне на налягането на водата върху кораба<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;Прибор за определяне на атмосферното налягането<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">238. Корабният магнитен компас служи за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;Определяне на проплавано разстояние<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Определяне на дълбочината<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;Определяне курса на кораба и снемане на пеленги<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;Определяне скоростта на кораба.<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">239. Основен навигационен прибор на кораба (задължителен за всички кораби) е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;Секстанта<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Радиолокационната станция<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;Лот и ехолот<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;Магнитен компас<br />
        </td>
    </tr>
    <!--Q9-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <!--<a href="241-250.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>-->
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
