<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 41-50</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">41. Девиацията на корабния магнитен компас се изчислява:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;ежегодно<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;при изпитанията на кораба след постройка<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;ежедневно<br />
            <input class="section2" name="Q1" type="radio"  />&nbsp;преди тръгване на кораба на рейс<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">42. Общата поправка на корабния магнитен компас  ( ΔΚ )  е равна:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;ΔК = δ - d<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;ΔК = d - δ<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;ΔК = (± d ) + ( ± δ )<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;Δ К = (d + δ)/2<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">43. Общата поправка на корабния магнитен компас е равна на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;разликата между истинския курс и истинския пеленг<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;разликата между девиация и магнитното склонение<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;средното аритметично на алгебричния сбор от девиацията и магнитното склонение<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;алгебричния сбор от девиацията и магнитното склонение<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">44. Корабния магнитен компас дава показанията за:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;компасния курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;магнитния курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;истинския курс<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;ъгъла между курса на кораба и екватора<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">45. Истинския курс (ИК) е равен:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;ИК = КК + ( ±  Δ Κ )<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;ИК = КК – ( ± ΔΚ )<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;ИК = КЪ +  Δ Κ<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;ИК = КЪ ± ΔК<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">46. Този ъгъл наричаме:<br /><img src="../Images/Img144.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;компасен курс<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;магнитен курс<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;истински курс<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;корабен курс<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">47. Този ъгъл наричаме:<br /><img src="../Images/Img145.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;компасен курс<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;магнитен курс<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;истински курс<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;магнитно склонение<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">48. Този ъгъл наричаме:<br /><img src="../Images/Img146.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;компасен курс<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;магнитен курс<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;магнитно склонение<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;истински курс<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">49. Този ъгъл наричаме:<br /><img src="../Images/Img147.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;магнитно склонение<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;обща поправка на компаса ΔК<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;девиация на магнитния компас<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;истински курс<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">50. Този ъгъл наричаме:<br /><img src="../Images/Img148.png" /></td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;обща поправка на магнитния компас<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;девиация на магнитния компас<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;магнитно склонение<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;магнитен курс<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="51-60.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
