<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 61-70</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">61. Един фут е равен на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;0,3048 метра<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;0,914 метра<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;0,254 метра<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;10 инча<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">62. Една миля от морската карта е равна на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;1 минута от географската ширина<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;1 минута от географската дължина<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;мащаба на картата, намален с 1000 единици<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;12 кабелта<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">63. Мерните единици за нанесените височини и дълбочини върху морската карта са:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;означени зад всяка цифра<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;означени в известията до мореплавателите<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;означени в заглавието на картата<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;означени над изобатите<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">64. Скоростта на кораба се измерва в:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;километри в час<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;възли<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;метри в секунда<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;кабелта в час<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">65. Разстоянията между две точки от морската карта се измерват чрез:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" />&nbsp;отчитане върху хоризонтална рамка на картата<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;мащаба на картата<br />
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;отчитане върху вертикална рамка на картата<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;милиметрова линия<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">66. Скоростта на кораба се измерва с прибор наречен:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" />&nbsp;лот<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;ехолот<br />
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;лаг<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;спидометър<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">67. Приборът за измерване на проплавано разстояние се нарича:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" />&nbsp;ехолот<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;лотлин<br />
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;лаг<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;спидометър<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">68. Един възел е равен на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;проплавана една миля за час<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;проплаван един километър за час<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;проплаван един метър за секунда<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;проплаван един кабелт за час<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">69. При скорост на кораба равна на 7 възла за 2 часа той ще измине:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;14 морски мили<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;7 морски мили<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;14 километра<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;14 кабелта<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">70. При плаване в близост до брега пътят на кораба се нанася на:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;пътеви карти<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;планове<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;генерални карти<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;милиметрова хартия<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="71-80.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
