<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО НАВИГАЦИЯ, ЛОЦИЯ, МЕТЕОРОЛОГИЯ 71-80</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section2" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">71. При мащаб на картата М 1:150 000:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q1" type="radio" />&nbsp;на 1 см от картата отговарят 15 км от местността<br />
            <input class="section2" name="Q1" type="radio" Answer="true" />&nbsp;на 1 см от картата отговарят 1,5 км от местността<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;на 1 см от картата отговарят 15 мили от местността<br />
            <input class="section2" name="Q1" type="radio" />&nbsp;на 1 см от картата отговарят 150 метра от местността<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">72. Основните карти, които се използват в корабоплаването са:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q2" type="radio" />&nbsp;конична проекция<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;азимутна проекция<br />
            <input class="section2" name="Q2" type="radio" Answer="true" />&nbsp;меркаторска проекция<br />
            <input class="section2" name="Q2" type="radio" />&nbsp;физически карти<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">73. При определяне мястото на кораба с два и повече пеленга, последователността за вземане на пеленгите е:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q3" type="radio" />&nbsp;първо се пеленгуват тези обекти, които са на траверса на кораба<br />
            <input class="section2" name="Q3" type="radio" Answer="true" />&nbsp;първо се пеленгуват тези обекти, които са по носа или кърмата на кораба<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;няма значение последователността<br />
            <input class="section2" name="Q3" type="radio" />&nbsp;от най-далечните ориентири към най близките<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">74. Способът „крюиз-пеленг” за определяне мястото на кораба се прилага:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q4" type="radio" />&nbsp;когато видимостта не е добра<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;при повече от три брегови ориентира<br />
            <input class="section2" name="Q4" type="radio" Answer="true" />&nbsp;ако има само един брегови ориентир<br />
            <input class="section2" name="Q4" type="radio" />&nbsp;при никък брегови ориентир<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">75. Определяне на мястото на кораба по „крюиз-пеленг” е способ при който се извършва:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q5" type="radio" Answer="true" />&nbsp;разновременно пеленгуване на 1 обект и изчисляване/отчитане на проплаваното разстояние между пеленгите<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;пеленгуване на1 обект и вземане разстояние до него в момента на откриването му на хоризонта<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;пеленгуване на навигационен ориентир и снемане на вертикален ъгъл към него<br />
            <input class="section2" name="Q5" type="radio" />&nbsp;измерване на разстоянието до ориентир и вземане на височината до ориентира от картата<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">76. При определяне мястото на кораба по 3 пеленга много често мястото се намира:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q6" type="radio" Answer="true" />&nbsp;в триъгълника получен от пресичането на трите пеленга<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;в пресечната точка на 2 от пеленгите към обекти намиращи се най-близо до траверса на кораба<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;на разстояние 1 миля в посока обратна на курса на кораба<br />
            <input class="section2" name="Q6" type="radio" />&nbsp;в квадрат<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">77. Прокладка наричаме:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q7" type="radio" Answer="true" />&nbsp;графично нанасяне пътя на кораба върху навигационна карта<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;способ за определяне мястото на кораба по пеленг и разстояние<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;определяне мястото на кораба върху картата<br />
            <input class="section2" name="Q7" type="radio" />&nbsp;изчисляването на изминатото разстояние за един час<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">78. Видовете прокладка са:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q8" type="radio" />&nbsp;дневна и нощна<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;морска и речна<br />
            <input class="section2" name="Q8" type="radio" Answer="true" />&nbsp;предварителна и действителна<br />
            <input class="section2" name="Q8" type="radio" />&nbsp;в мащаба на картата и в мащаб различен от този на картата<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">79. Инструменти необходими за извършване на прокладка са:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q9" type="radio" />&nbsp;лотлин, психрометър, анемометър<br />
            <input class="section2" name="Q9" type="radio" Answer="true" />&nbsp;транспортир, паралелна линия, пергел, молив<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;барограф, термограф, анероид, хидрограф<br />
            <input class="section2" name="Q9" type="radio" />&nbsp;молив, линия и пергел<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section2_TR_Q">
        <td class="section2_Q">80. Лоцията като раздел от корабоводенето разглежда въпросите:</td>
    </tr>
    <tr class="section2_TR_A">
        <td class="section2_A">
            <input class="section2" name="Q10" type="radio" />&nbsp;за способите за определяне мястото на кораба<br />
            <input class="section2" name="Q10" type="radio" Answer="true" />&nbsp;относно описанието на даден район и препоръки за безопасно плаване<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;относно правилното натоварване и опазване на товара на борда на кораба<br />
            <input class="section2" name="Q10" type="radio" />&nbsp;за управлението на кораб плаващ с ветрила<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section2" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="81-90.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
