<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО ТЕХНИЧЕСКА ПОДГОТОВКА 21-30</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section5" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">21. При пожар в електрическата инсталация:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q1" type="radio" />&nbsp;Гасим с морска или прясна вода<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Гасим с пенни пожарогасители<br />
            <input class="section5" name="Q1" type="radio" Answer="true" />&nbsp;Гасим с прахови или въгледвуокисни пожарогасители<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">22. Карбураторът е важен възел от:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q2" type="radio" />&nbsp;Дизеловите двигатели<br />
            <input class="section5" name="Q2" type="radio" Answer="true" />&nbsp;Бензиновите  двигатели<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Турбинните двигатели<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Парните двигатели<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">23. Ако намалее налягането на маслото на двигателя е необходимо:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q3" type="radio" />&nbsp;Да се увеличи охлаждането<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Да се долее масло<br />
            <input class="section5" name="Q3" type="radio" Answer="true" />&nbsp;Да се спре двигателя<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Да се увеличи натоварването<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">24. Изхвърлянето на нефтени продукти /газьол, бензин, масло и др./ се разрешава:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q4" type="radio" />&nbsp;На повече от 2 / две/ морски мили от брега<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;На повече от 5 /пет/ морски мили от брега<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;Няма ограничения  за изхвърляне на такива продукти<br />
            <input class="section5" name="Q4" type="radio" Answer="true" />&nbsp;Не се разрешава<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">25. Как се съхраняват пожарогасителите по време на преход?:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q5" type="radio" />&nbsp;Поставят се в сандъци<br />
            <input class="section5" name="Q5" type="radio" Answer="true" />&nbsp;Поставят се на видно и лесно достъпно място<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Поставят се близо до ходовата рубка<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Поставят се на места, недостъпни за  деца<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">26. Подготовката на двигателя за действие включва:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q6" type="radio" />&nbsp;Подгряване на охлаждащата течност<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;Подгряване на маслото<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;Превъртане на двигателя<br />
            <input class="section5" name="Q6" type="radio" Answer="true" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">27. При работа по корабното електрообзавеждане трябва да се спазват следните изисквания:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q7" type="radio" />&nbsp;Напълно достатъчно е да се изключи захранването<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;Пред електрическите табла да се поставят диелектрични килимчета<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;Да се приготвят специализирани инструменти<br />
            <input class="section5" name="Q7" type="radio" Answer="true" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">28. Цел на центровката на корабния валопровод е:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q8" type="radio" />&nbsp;Да се регулират и определят хлабините на клапаните на ДВГ<br />
            <input class="section5" name="Q8" type="radio" Answer="true" />&nbsp;Да се доведат до съосие коляновия вал, гребния вал и гребния винт<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;Да се регулира и определи годността на корпуса<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">29. Зъбните помпи се използват най-вече за:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q9" type="radio" />&nbsp;Морска вода<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Сладка вода<br />
            <input class="section5" name="Q9" type="radio" Answer="true" />&nbsp;Масла и горива<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Всичко изброено<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">30. Каква е причината картерното масло на двигателя да придобие „млечен” цвят?:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q10" type="radio" Answer="true" />&nbsp;Попадане на вода в маслото<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;Попадане на гориво в маслото<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;Прегряване на маслото<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;Ниска температура на маслото<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section5" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="31-40.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
