<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО ТЕХНИЧЕСКА ПОДГОТОВКА 31-40</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section5" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">31. Замърсени елементи на маслени или горивни филтри могат да бъдат дефектирани  чрез:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q1" type="radio" />&nbsp;Визуална инспекция на всеки елемент<br />
            <input class="section5" name="Q1" type="radio" Answer="true" />&nbsp;Промяна в разликата на показанията на манометрите преди и след филтъра. /pressure drop/<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Увеличаване температурата на разходния танк на флуида<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Увеличаване потока на флуида след филтъра<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">32. Охладителят , монтиран между турбокомпресора и входящия колектор на дизеловия ДВГ:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q2" type="radio" Answer="true" />&nbsp;Увеличава плътността на въздуха<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Намалява плътността на въздуха<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Увеличава специфичната топлина на въздуха<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Намалява специфичната топлина на изгорелите газове<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">33. При извършване на моточистка на четиритактов двигател, от значение ли е да не се разменят смукателните и изпускателни клапани?:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q3" type="radio" Answer="true" />&nbsp;Важно е поради различния материал и различните условия за работа<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Могат да бъдат разменени, ако се сменят седлата на клапаните<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Могат да бъдат подменени, ако са един и същи размер<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Важно е поради различния размер на водачите на клапаните<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">34. Пукнатина в цилиндровата глава на дизелов ДВГ може да е в резултат най-вероятно от:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q4" type="radio" />&nbsp;Повредени сегменти /бутални пръстени/<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;Топлина, предавана на главата от изгорелите газове<br />
            <input class="section5" name="Q4" type="radio" Answer="true" />&nbsp;Запушени охлаждащи канали и/или пространства<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;Прегряване на смукателните клапани<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">35. Драскотини по работната повърхност на цилиндровите втулки на дизелов ДВГ може да бъдат причинени най-вероятно от:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q5" type="radio" />&nbsp;Ако двигателят се стартира студен<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Неравности по полата на буталото<br />
            <input class="section5" name="Q5" type="radio" Answer="true" />&nbsp;Експлоатация при прегряване на двигателя<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Ненормална работа на въздушния разпределител<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">36. Кое е най-критичното време при бункероване на гориво по отношение на опасността от замърсяване и разлив на нефтопродукти:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q6" type="radio" />&nbsp;шланговането на системите<br />
            <input class="section5" name="Q6" type="radio" Answer="true" />&nbsp;запълването на танковете<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;началото на бункироването<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;нито едно от трите<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">37. Изхвърля нето на нефтени отпадъци (SLUDGE) в  морето:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q7" type="radio" />&nbsp;се разрешава в 200 милната зона<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;се разрешава извън 200 милната зона<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;се разрешава извън 12 милната зона<br />
            <input class="section5" name="Q7" type="radio" Answer="true" />&nbsp;не се разрешава<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">38. Замърсяванията на горивната система на дизеловия ДВГ може да причинят:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q8" type="radio" />&nbsp;Повреда на горивните филтри<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;"Разгон", неконтролирано увеличаване на оборотите на ДВГ<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;Прекалено охлаждане на ДВГ<br />
            <input class="section5" name="Q8" type="radio" Answer="true" />&nbsp;Повреда на горивните помпи и/или дюзи<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">39. Електролита на алкалните акумулатори е разтвор на:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q9" type="radio" Answer="true" />&nbsp;Калиева основа<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Магнезиева и калциева основа<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Натриев хлорид<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Фосфорна киселина и дестилирана вода<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">40. За какво служат сепараторите между плочите на акумулаторните батерии</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q10" type="radio" />&nbsp;Комутационна връзка<br />
            <input class="section5" name="Q10" type="radio" Answer="true" />&nbsp;За изолация между активните плочи<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;За катализатор на химичните процеси<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;По добро вентилиране на газовете<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section5" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="41-50.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
