<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ВЪПРОСИ ПО ТЕХНИЧЕСКА ПОДГОТОВКА 41-50</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section5" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">41. Изгорели предпазители, които "изгарят" често трябва да се подменят с такива, чиито характеристики са:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q1" type="radio" Answer="true" />&nbsp;Според препоръчителните стойности за ампераж и волтаж на веригата<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Най-високите стойности за ампераж и волтаж на веригата<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Най-високите стойности за ампераж и най-ниските за волтаж на веригата<br />
            <input class="section5" name="Q1" type="radio" />&nbsp;Най-ниските стойности за ампераж и  за най-високите за волтаж на веригата<br />
        </td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">42. Когато зареждате един киселинен акумулатор, при достигане степен на зареденост съвсем близка до максималната вие следва да намалите стойността на зарядния ток с оглед на:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q2" type="radio" Answer="true" />&nbsp;Да се предотврати прекомерното отделяне на газове и прегряване на акумулатора<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Да се даде възможност за изравняване на  волтажа на всички клетки<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Да се намали сулфатизацията на повърхностния слой<br />
            <input class="section5" name="Q2" type="radio" />&nbsp;Да се увеличи  нивото на оловния триокис в електролита<br />
        </td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">43. Обичайната / рутинната поддръжка на киселинните акумулатори задължително включва:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q3" type="radio" />&nbsp;Поддържане чистотата на полюсите(клемите)<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Нанасяне на защитен слой от грес на клемите на свързващите кабели (+ и -)<br />
            <input class="section5" name="Q3" type="radio" />&nbsp;Поддържане на цикли с бавно, продължително зареждане<br />
            <input class="section5" name="Q3" type="radio" Answer="true" />&nbsp;Всички изброени<br />
        </td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">44. С кой от изброените изм. уреди трябва да се измерва температурата на електролита на акумулатор</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q4" type="radio" />&nbsp;Живачен термометър<br />
            <input class="section5" name="Q4" type="radio" Answer="true" />&nbsp;Спиртен термометър<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;Термо-двойка<br />
            <input class="section5" name="Q4" type="radio" />&nbsp;Потенциометър<br />
        </td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">45. Кое от изброените причинява най-сериозна повреда на електрооборудване в бездействие при морски условия</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q5" type="radio" />&nbsp;Загубват остатъчния си магнетизъм<br />
            <input class="section5" name="Q5" type="radio" Answer="true" />&nbsp;Абсорбират влага в изолацията<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Изолационният лак се напуква<br />
            <input class="section5" name="Q5" type="radio" />&nbsp;Натрупва се мръсотия по намотките<br />
        </td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">46. Помещението където се зареждат акумулатори трябва да добре вентилирано защото по време на зарядка се отделят:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q6" type="radio" />&nbsp;Силно отровни газове<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;Лесно запалим кислород<br />
            <input class="section5" name="Q6" type="radio" Answer="true" />&nbsp;Експлозивни газове (предизвикващи експлозия)<br />
            <input class="section5" name="Q6" type="radio" />&nbsp;Корозивни газове(предизвикващи корозия )<br />
        </td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">47. За да избегнете разлив на гориво при запълване на гор. цистерна, трябва:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q7" type="radio" />&nbsp;да се притвори входящият кран<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;да се затворят отдушните тръби<br />
            <input class="section5" name="Q7" type="radio" />&nbsp;да не се напълват цистерните повече от макс. ниво<br />
            <input class="section5" name="Q7" type="radio" Answer="true" />&nbsp;да се намали дебита поради запълване на танковете<br />
        </td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">48. Основна причина за повишаване грапавостта на гребните винтове при експлоатация е:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q8" type="radio" />&nbsp;корозиране на повърхността<br />
            <input class="section5" name="Q8" type="radio" Answer="true" />&nbsp;кавитационна язва по повърхността<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;ерозийно разрушаване на повърхностния слой<br />
            <input class="section5" name="Q8" type="radio" />&nbsp;катодно отлагане на соли по повърхността<br />
        </td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">49. Кое от следните твърдения е вярно относно ремъците използвани в ДВГ:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q9" type="radio" />&nbsp;Ремъците се удължават леко след първите няколко месеца работа<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Твърде натегнатите ремъци ще претоварят лагерите<br />
            <input class="section5" name="Q9" type="radio" />&nbsp;Недостатъчно натегнати ремъци ще приплъзват и ще се износят бързо<br />
            <input class="section5" name="Q9" type="radio" Answer="true" />&nbsp;Всички заедно<br />
        </td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section5_TR_Q">
        <td class="section5_Q">50. Ако фундаментните болтове на ДВГ са разхлабени, коя от следните ситуации ще настъпи:</td>
    </tr>
    <tr class="section5_TR_A">
        <td class="section5_A">
            <input class="section5" name="Q10" type="radio" />&nbsp;двигателния ремък ще скърца<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;разтоварващите клапани ще се блокират<br />
            <input class="section5" name="Q10" type="radio" Answer="true" />&nbsp;двигателят ще вибрира<br />
            <input class="section5" name="Q10" type="radio" />&nbsp;пропускане на вода във въздушният охладител<br />
        </td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section5" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="51-51.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
