<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 11-20</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">11. В теснини или фаарватери най-малко пет къси и чести звукови или светлинни сигнала означават:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;"Имам намерение да ви изпреваря от левия борд"<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;"Имам намерение да ви изпреваря от десния борд"<br />
            <input class="section1" name="Q1" type="radio" Answer="true"/>&nbsp;"Съмнявам се във вашите намерения и действия"<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;"Съгласен съм да бъда изпреварен"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule9/e/I), (rule34/d)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">12. В теснини или фарватери един продължителен звуков сигнал означава:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" />&nbsp;"Имам намерение да ви изпреваря от левия борд"<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;"Имам намерение да ви изпреваря от десния борд"<br />
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Кораб, който приближава завой и може да не вижда други кораби<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;"Съгласен съм да бъда изпреварен"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule9/f), (rule34/e)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">13. В теснини или фарватери един продължителен звуков сигнал означава:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Отговор на кораб, който приближава завой и може да не вижда други кораби<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;"Имам намерение да ви изпреваря от левия борд"<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;"Имам намерение да ви изпреваря от десния борд"<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;"Съгласен съм да бъда изпреварен"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule/9/f), (rule34/e)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">14. В теснини или фарватери кои кораби не трябва да затрудняват движението на останалите?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Корабите с механичен двигател на ход<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Корабите ограничени от своето газене<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Корабите заети  с риболов<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Корабите ограничени в способността си да маневрират<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule9/c)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">15. В теснини или фарватери кои кораби не трябва да затрудняват движението на останалите?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;Корабите с механичен двигател на ход<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Koрабите с дължина, по-малка от 20м<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Корабите ограничени от своето газене<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Корабите ограничени в способността си да маневрират<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule9/b)</strong></td>
    </tr>
    <!--Q5-->
  
    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">16. В теснини или фарватери кои кораби не трябва да затрудняват движението на останалите?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Ветроходните кораби<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Корабите ограничени в способността си да маневрират<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Корабите с механичен двигател на ход<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Корабите ограничени от своето газене<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule9/b)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">17. Трябва ли да се избягва заставането на котва в теснина?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" />&nbsp;Не трябва<br />
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Трябва, ако обстоятелствата на случая позволяват<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Не трябва, ако кораба е ветроходен<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Не трябва, ако кораба е по-малък от 20м<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule 9/g)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">18. Koраб, който използва схема за разделно движение,трябва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;Да не навлиза в крайбрежната зона за движение<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Да не извършва риболовна дейност<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;Да се движи в съответния коридор в общоприетата посока<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Да не пресича разделителната линия<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule 10/b/l)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">19. Koраб, който използва схема за разделно движение, трябва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" />&nbsp;Да не извършва риболовна дейност<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Да не навлиза в крайбрежната зона за движение<br />
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Да се придържа по-далеч от разделителната линия<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Да не пресича разделителната линия<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule10/b/II)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">20. До схемата за разделно движение, кои кораби могат да използват крайбрежната зона?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Кораби с дължина по-малка от 20м<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Корабите ограничени в способността си да маневрират<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Корабите ограничени от своето газене<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Всички кораби<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule10/d/I)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="21-30.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                