<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 131-140</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">131. Кой кораб  носи този знак през деня?:<br /><img src="../Images/Img38.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб, ограничен в способността си да маневрира.<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Кораб без управление<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Риболовен кораб, който не трали<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Ветроходен кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/a)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">132. Кой кораб носи тези светлини?:<br /><img src="../Images/Img39.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" />&nbsp;Кораб, ограничен в  способността си да маневрира, движи се на ляво<br />
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Кораб без управление, движи се на ляво<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Риболовен кораб, който не трали, движи се на ляво<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Ветроходен кораб, движи се на ляво<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/a)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">133. Кой кораб носи тези светлини?:<br /><img src="../Images/Img40.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" />&nbsp;Кораб, ограничен в  способността си да маневрира, движи се на дясно<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Ветроходен кораб, движи се на дясно<br />
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Кораб без управление, движи се на дясно<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Риболовен кораб, който не трали, движи се на дясно<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/a)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">134. Кой кораб носи тези светлини?:<br /><img src="../Images/Img41.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Кораб, ограничен в  способността си да маневрира, няма ход относно водата<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб без управление, движи се на дясно<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Риболовен кораб, който не трали, движи се на дясно<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Ветроходен кораб, движи се на ляво<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">135. Кой кораб носи тези светлини?:<br /><img src="../Images/Img42.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;Кораб по-дълъг от 50м., без управление, движи се срещу нас<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Кораб, ограничен в  способността си да маневрира, извършва буксировка<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Риболовен кораб, който не трали, движи се срещу нас<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Ветроходен кораб, движи се срещу нас<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b/c)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">136. Кой кораб носи тези светлини?:<br /><img src="../Images/Img43.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб, ограничен в  способността си да маневрира, извършва буксировка<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб по-дълъг от 50м.,  без управление, движи се срещу нас<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Кораб, ограничен в  способността си да маневрира, по къс от  50м<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Ветроходен кораб, движи се срещу нас<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">137. Кой кораб носи тези светлини?:<br /><img src="../Images/Img44.png"</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Кораб, ограничен в  способността си да маневрира, вижда се кърмата му<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Кораб по-дълъг от 50м., без управление, вижда се кърмата му<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Кораб, ограничен в  способността си да маневрира, извършва буксировка<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Риболовен кораб, който не трали, вижда се кърмата му<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">138. Кой кораб  носи тeзи знаци?:<br /><img src="../Images/Img45.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;Кораб, ограничен от своето газене, на котва<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Кораб без управление, на котва<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Риболовен кораб, който не трали, на котва<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;Кораб, ограничен в способността си да маневрира, на котва<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b/II/IV)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">139. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img46.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" />&nbsp;Кораб, ограничен в  способността си да маневрира, няма ход относно водата<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Кораб по-дълъг от 50м.,  без управление, вижда се кърмата му<br />
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Кораб, зает с буксировка и е ограничен във възможността си да маневрира<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Риболовен кораб, който не трали, вижда се кърмата му<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule24/a/27/c)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">140. Кой кораб носи тези светлини?<br /><img src="../Images/Img47.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Кораб, зает с драгажни дейности на ход, свободен за преминаване е левия му борд<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Кораб без управление, свободен за преминаване е левия му борд<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Кораб, зает с драгажни дейности на котва<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Риболовен кораб, мрежите  са от десния му борд<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule27/b/d)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="141-150.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                