<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 161-170</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">161. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img67.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Кораб, по-дълъг от 50 м,  на котва<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб без управление<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Пилотски кораб<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Риболовен кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/a)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">162. Кой кораб носи тези светлини?:<br /><img src="../Images/Img68.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" />&nbsp;Пилотски кораб, изпълнява задълженията си<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Кораб без управление, на ход<br />
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Кораб, по-къс от 50м, на котва<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Риболовен кораб, трали<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/a)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">163. Кой кораб  носи тeзи светлини?:<br /><img src="../Images/Img69.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Заседнал кораб с дължина по- голяма от 50м<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Заседнал кораб с дължина по-малка от 50м<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Пилотски кораб<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Риболовен кораб, трали<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/d)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">164. Кой кораб  носи тези знаци през деня?:<br /><img src="../Images/Img70.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб без управление<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Риболовен кораб<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Пилотски кораб<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Заседнал кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/d)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">165. Кораб, с дължина по- малка от 7м., длъжен ли е да показва светлините и знаците за "Кораби на котва":</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;Длъжен е при всички обстоятелства<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Не е длъжен<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Длъжен е, когато е в райони, където обикновено плават други кораби<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Не е длъжен, когато няма котва<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/e)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">166. Кораб, с дължина по-малка от 12 м., длъжен ли е да показва светлините и знаците за "Заседнали кораби":</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;Длъжен е, когато е заседнал в теснина или фарватер<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Длъжен е, когато е в котвена стоянка, или близо до нея<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Длъжен е при всички обстоятелства<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Не е длъжен<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule30/f)</strong></td>
    </tr>
    <!--Q6-->

    <tr>
        <td>
            <h1 style="text-decoration: underline;">СВЕТЛИННИ И ЗВУКОВИ СИГНАЛИ - ИЗИСКВАНИЯ, ОПИСАНИЯ, ПРАВИЛА<br /><br /></h1>
        </td>
    </tr>

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">167. Какви звукосигнални средства трябва да има кораб с дължина над 12м., но по-къс от 100м.?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Свирка и камбана<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Свирка, камбана и гонг<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Свирка<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Камбана<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule33/a)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">168. Чувате един къс звук или виждате един къс проблясък:<br /><img src="../Images/Img71.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;"Имам намерение да ви изпреваря от левия борд"<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;"Имам намерение да ви изпреваря от десния борд"<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;"Изменям своя курс на ляво"<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;"Изменям своя курс на дясно"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule34/a/b)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">169. Чувате два  къси звука или виждате два къси проблясъка:<br /><img src="../Images/Img72.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" />&nbsp;"Имам намерение да ви изпреваря от левия борд"<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;"Имам намерение да ви изпреваря от десния борд"<br />
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;"Изменям своя курс на ляво"<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;"Изменям своя курс на дясно"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule34/a/b)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">170. Чувате три  къси звука или виждате три къси проблясъка:<br /><img src="../Images/Img73.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;"Двигателите ми работят на заден ход"<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;"Нямам ход относно водата"<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;"Изменям своя курс на дясно"<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;"Изменям своя курс на ляво"<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG (rule34/a/b)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="171-180.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                