<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 191-200</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <tr>
        <td>
            <h1 style="text-decoration: underline;">СИГНАЛИ ЗА БЕДСТВИЕ<br /><br /></h1>
        </td>
    </tr>

    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">191. Чувате експлозивни сигнали през интервал от около 1мин. Какво означава това?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб е загубил управление<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб поставя кабели<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Танкер е направил разлив<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (a)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">192. Чувате непрекъснат звуков сигнал, подаван от апарат за мъгла. Какво означава това?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Сигнал за обръщане на внимание<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Военен кораб извършва маневра<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Кораб е загубил управление<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (b)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">193. Виждате червени звездни ракети през кратки интервали от време. Какво  означава това?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" />&nbsp;Сигнал за обръщане на внимание<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Кораб е загубил управление<br />
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (c)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">194. Чувате по радиотелеграфа или друга сигнална система (SOS) по Морзовата азбука:<br /><img src="../Images/Img85.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб е загубил управление<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Сигнал за обръщане на внимание<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (d)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">195. Чувате по радиотелефона думата "Мейдей":</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Нужен ми е буксир<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Кораб е загубил управление<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (e)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">196. По Международния код за сигналите виждате флаговете NC (Новембер-Чарли):<br /><img src="../Images/Img86.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб е загубил управление<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Нужен ми е буксир<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (f)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">197. Виждате квадратен флаг с поставена над или под него сфера или предмет, подобен на сфера:<br /><img src="../Images/Img87.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Корабът ми е под карантина<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Нужен ми е буксир<br />
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (g)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">198. По Международния код за сигналите виждате флаговете NC (Новембер-Чарли):<br /><img src="../Images/Img88.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Нужен ми е буксир<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (f)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">199. Виждате излизащи от някакви съдове пламъци на палубата от друг кораб:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Нужен ми е буксир<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (h)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">200. Виждате червена парашутна ракета или фалшфайер:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Нужен ми е буксир<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (i)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="201-210.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                