<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 201-210</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">201. Виждате димен сигнал с оранжев цвят:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Нужен ми е буксир<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб обслужва водолази<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (j)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">202. Виждате бавно и повтарящо се вдигане и спускане на ръце, протегнати встрани:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Нужен ми е буксир<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV (k)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">203. Разрешава ли се сигналите за бедствие да се използват за други цели?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" />&nbsp;Разрешава се, когато корабите са във видимост един с друг<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Разрешава се, при ограничена видимост<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Разрешава се<br />
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Забранява се<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV 2</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">204. Допуска ли се използването на сигнали, които могат да се приемат погрешно като сигнали за бедствие?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Допуска се, ако кораба извършва водолазна дейност<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Допуска се, когато кораба е загубил управление<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Допуска се, когато кораба е влачен<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Не се допуска<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV 2</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">205. За разпознаване от въздуха виждате оранжево платнище с вписани черен квадрат и кръг.<br /><img src="../Images/Img89.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Нужен ми е буксир<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Кораб обслужва водолази<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV 3(а)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">206. Виждате цветно петно на повърхността на водата:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб, поставящ кабели<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Кораб търпи бедствие и се нуждае от помощ<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб обслужва водолази<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Нужен ми е буксир<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>GOLREG ANNEX IV 3(b)</strong></td>
    </tr>
    <!--Q6-->

    <tr>
        <td>
            <h1 style="text-decoration: underline;">IALA  - ЛАТЕРАЛНИ ЗНАЦИ<br /><br /></h1>
        </td>
    </tr>

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">207. Какви видове знаци съдържа комбинираната система IALA?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Кардинални, латерални, знаци за изолирана опасност, знаци за безопасни води и специални знаци<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Кардинални, латерални и специални знаци<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Кардинални и латерални<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Кардинални, латерални, знаци за безопасни води и специални<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>IALA Maritime Buoyage System NP 735 (1.7)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">208. Какви цветове са запазени за латералните знаци на IALA?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;Черен и червен<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Жълт<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;Червен и зелен<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Черен и жълт<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>IALA Maritime Buoyage System NP 735 (1.8)(2.6)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">209. Какви цветове имат светлините на латералните знаци на IALA?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Червен и зелен<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Жълт<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Черен и жълт<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Черен и червен<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>IALA Maritime Buoyage System NP 735 (1.14)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">210. Каква е формата на топовите фигури (ако има такива) на левите латерални знаци на IALA?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" />&nbsp;Конична, с върха на горе<br />
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Цилиндрична<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Сферична<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;"X"-образна<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>IALA Maritime Buoyage System NP 735 (2.7)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="211-220.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                