<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 31-40</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">31. Трябва ли да се избягва пресичане на коридорите на схема за разделно движение?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Не трябва, ако кораба е ветроходен<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Не трябва<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Да, но ако кораба е принуден, това да става под прав ъгъл<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Не трябва, ако кораба е по-малък от 20м<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule10/c)</strong></td>
    </tr>
    <!--Q1-->

    <tr>
        <td>
            <h1 style="text-decoration: underline;">МППСМ-72 ДЕИСТВИЯ НА КОРАБИТЕ ПРИ ВИДИМОСТ ЕДИН ДРУГ<br /><br /></h1>
        </td>
    </tr>

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">32. Ветроходни кораби се сближават, кой на кого отстъпва път?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Корабът, с ляв галс, на корабът с десен галс<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Корабът, с десен галс, на корабът с ляв галс<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Корабът, който вижда другия от левия си борд, на виждания<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Корабът, който вижда другия от десния си борд, на виждания<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule12/a/I)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">33. Ветроходни кораби се сближават, кой на кого отстъпва път?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" />&nbsp;Koрабът, от подветрената, на корабът от наветрената<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Корабът, който вижда другия от левия си борд, на виждания<br />
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Корабът, от наветрената страна, на подветрения<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Корабът, който вижда другия от десния си борд, на виждания<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule12/a/II)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">34. На ветроходен кораб, коя страна се счита наветрена?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Страната, на която сочи главното платно<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Страната, противоположна на тази, на която се намира главното платно<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Страната, от която духа вятъра<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Страната, на която е накренен корабът<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule12/б)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">35. Всеки кораб, които изпреварва друг е длъжен:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;Да го изпревари от левия борд<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Да се свърже по радиотелефонна връзка с изпреварвания<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Да се държи встрани от пътя на изпреварвания кораб<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Да информира изпреварвания кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule13/a)</strong></td>
    </tr>
    <!--Q5-->
  
    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">36. Кога корабът се счита за изпреварващ?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Когато вижда само кърмовата светлина на изпреварвания кораб<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Когато вижда една бордова и една топова светлина на изпреварвания кораб<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Когато вижда изпреварвания кораб пред траверса си<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Когато се движи с по-голяма скорост от изпреварвания кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule13/б)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">37. Когато корабът се съмнява дали се явява изпреварващ, е длъжен:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" />&nbsp;Да не предприема изпремарване<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Да намали скоростта си<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Да промени курса си<br />
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Да се счита, че това е така и да действа по съответния начин<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule13/c)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">38. Два кораба с мех.двигатели се сближават на противоположни курсове, има опасност от сблъскване, всеки от тях е длъжен:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" />&nbsp;Да намали скоростта си<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Да измени курса си на ляво за разминаване с десни бордове<br />
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;Да измени курса си на дясно за разминаване с леви бордове<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Да осъществи УКВ връзка с насрещния кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule14/a)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">39. Два кораба с механични двигатели се движат на пресичащи се курсове, има опасност от сблъскване. Кой отстъпва път?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" />&nbsp;Който вижда другия от левия си борд<br />
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Който вижда другия от десния си борд<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Който може да пресече курса на другия<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Който не може да пресече курса на другия<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule15)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">40. Кораб, който отстъпва път, трябва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Да предприеме решителни действия, за да се размине чисто с другия кораб<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Да намали скоростта си<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Да осъществи УКВ връзка с насрещния кораб<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Да измени курса си на ляво за разминаване с десни бордове<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule16)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="41-50.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                