<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 61-70</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">61. При ограничена видимост, откривате кораб само с радио-локатор, има опасност от сблъскване, трява да се избягва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Изменението на скоростта<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Изменението на курса<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Изменение на  курса на дясно ако другия се намира пред траверса и не е изпреварван<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Изменение на  курса на ляво, ако другия се намира пред траверса и не е изпреварван<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule19/d/I)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">62. При ограничена видимост, откривате кораб само с радио-локатор, има опасност от сблъскване, трява да се избягва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" />&nbsp;Изменение на  курса на дясно ако другия се намира пред траверса и не е изпреварван<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Изменението на скоростта<br />
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;Изменение на курса към страната на кораб, който се намира зад, или на траверса ни<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;Изменението на курса<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule19/d/II)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">63. При ограничена видимост, чувате пред траверса си сигнал за мъгла от друг кораб, трябва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Да намалите скоростта на кораба до минималната, за да поддържате курса си<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Да промените курса си на дясно<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Да промените курса си на ляво<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Да извършите поворот<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule19/e)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">64. При ограничена видимост, чувате пред траверса си сигнал за мъгла от друг кораб, трябва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Да извършите поворот<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Да промените курса си на ляво<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Да се движите с голяма предпазливост, и ако е необходимо, да спрете движението си<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Да промените курса си на дясно<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule19/e)</strong></td>
    </tr>
    <!--Q4-->

    <tr>
        <td>
            <h1 style="text-decoration: underline;">СВЕТЛИНИ И ЗНАЦИ(ФИГУРИ) - ОБЩИ ПОЛОЖЕНИЯ<br /><br /></h1>
        </td>
    </tr>

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">65. При какви метеорологични условия корабите показват светлини и  знаци?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" />&nbsp;При силно вълнение и видимост, под 1 м. миля<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;При видимост над 2 м. мили<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;При видимост под 2 м. мили<br />
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;При всякакви<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule20/a)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">66. Светлините на корабите се показват:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;От изгрева до залеза на Слънцето<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;От залеза до изгрева на Слънцето<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;От 08.00 часа до 20.00 часа на съответния часови пояс<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;От 20.00 часа до 08.00 часа на съответния часови пояс<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule20/b)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">67. Светлините на корабите се показват:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;От изгрева до залеза на Слънцето, в условията на ограничена видимост<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;От изгрева до залеза на Слънцето<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;От 20.00 часа до 08.00 часа на съответния часови пояс<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;От 08.00 часа до 20.00 часа на съответния часови пояс<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule20/c)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">68. Светлините на корабите се показват:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;При всички обстоятелства, когато се счете за необходимо<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;От 20.00 часа до 08.00 часа на съответния часови пояс<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;От 08.00 часа до 20.00 часа на съответния часови пояс<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;От изгрева до залеза на Слънцето<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule20/c)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">69. Правилата относно знаците трябва да се изпълняват през:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Деня<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Деня и нощта<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;От 20.00 часа до 08.00 часа на съответния часови пояс<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;От 20.00 часа до 08.00 часа на съответния часови пояс<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule20/d)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">70. Какъв е цвета на топовата светлина?:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" />&nbsp;Зелен<br />
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Бял<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Жълт<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Червен<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule21/a)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="71-80.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                