<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>МППСМ-72 91-100</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body><button class="section1" name="Q10" type="button" style="width: 250px;" onclick="MarkAllAnswers()">Маркирай всички отговори</button><br /><br /><br />
 <table class="section1" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">91. Кой кораб трябва да носи тези светлини?:<br /><img src="../Images/Img1.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб с мех. двигател на ход с дължина по-малка от 50м<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Ветроходен кораб идващ срещу нас<br />
            <input class="section1" name="Q1" type="radio" Answer="true" />&nbsp;Кораб с мех. двигател на ход с дължина по-голяма от 50м<br />
            <input class="section1" name="Q1" type="radio" />&nbsp;Кораб зает с влачене<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/a)</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">92. Кораб с мех. двигател на ход, с дължина по-голяма от 50 м. трябва да показва следните светлини:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q2" type="radio" Answer="true" />&nbsp;1.предна топова.&nbsp;&nbsp;2.втора топова.&nbsp;&nbsp;3.бордови.&nbsp;&nbsp;4. кърмова.<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;1.една топова.&nbsp;&nbsp;2.бордови.&nbsp;&nbsp;3. кърмова.<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;1.една топова.&nbsp;&nbsp;2.една бяла кръгововидима.&nbsp;&nbsp;3.бордови.&nbsp;&nbsp;4. кърмова.<br />
            <input class="section1" name="Q2" type="radio" />&nbsp;1.предна топова.&nbsp;&nbsp;2.втора топова.&nbsp;&nbsp;3.бордови.<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/a)</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">93. Кой кораб  носи тези светлини?<br /><img src="../Images/Img2.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q3" type="radio" Answer="true" />&nbsp;Кораб с мех. двигател на ход с дължина по-голяма от 50м, движи се на ляво<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Ветроходен кораб идващ срещу нас<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Кораб с мех. двигател на ход с дължина по-малка от 50м<br />
            <input class="section1" name="Q3" type="radio" />&nbsp;Кораб зает с влачене<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/a)</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">94. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img3.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб с мех. двигател на ход с дължина по-малка от 50м<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Кораб зает с влачене<br />
            <input class="section1" name="Q4" type="radio" Answer="true" />&nbsp;Кораб с мех. двигател на ход с дължина по-голяма от 50м, движи се на дясно<br />
            <input class="section1" name="Q4" type="radio" />&nbsp;Ветроходен кораб идващ срещу нас<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/a)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">95. Кораб на въздушна възглавница, когато е в неводоизместващо положение, трябва да показва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q5" type="radio" Answer="true" />&nbsp;Жълта кръгово-видима пробляскваща светлина в допълнение на светлините  за кораб с мех. двигател на ход<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Червена кръгововидима пробляскваща светлина<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Зелена кръгововидима пробляскваща светлина<br />
            <input class="section1" name="Q5" type="radio" />&nbsp;Зелена кръгововидима пробляскваща светлина<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/б)</strong></td>
    </tr>
    <!--Q5-->

    <!--Q6-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">96. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img4.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q6" type="radio" />&nbsp;Ветроходен кораб, идва срещу нас<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Кораб зает с влачене, идва срещу нас<br />
            <input class="section1" name="Q6" type="radio" Answer="true" />&nbsp;Кораб на въздушна възглавница, идва срещу нас<br />
            <input class="section1" name="Q6" type="radio" />&nbsp;Риболовен кораб,  идва срещу нас<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/б)</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">97. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img5.png"</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q7" type="radio" Answer="true" />&nbsp;Кораб на въздушна възглавница, виждаме кърмата<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Ветроходен кораб, виждаме кърмата<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Пилотски кораб, виждаме кърмата<br />
            <input class="section1" name="Q7" type="radio" />&nbsp;Риболовен кораб, виждаме кърмата<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/б)</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">98. Кой кораб  носи тези светлини?:<br /><img src="../Images/Img6.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q8" type="radio" Answer="true" />&nbsp;WIG водолетателен съд, когато излита, каца и лети близо до повърхността<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Кораб на въздушна възглавница<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Пилотски кораб<br />
            <input class="section1" name="Q8" type="radio" />&nbsp;Риболовен кораб<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/d)</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">99. WIG водолетателен съд, които излита, каца и лети близо до повърхноста, трябва в допълнение на светлините за кораб с мех. двигател да показва:</td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q9" type="radio" Answer="true" />&nbsp;Високо интензивна  кръгововидима пробляскваща червена светлина<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Високо интензивна  кръгововидима пробляскваща зелена светлина<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Високо интензивна  кръгововидима пробляскваща жълта светлина<br />
            <input class="section1" name="Q9" type="radio" />&nbsp;Високо интензивна  кръгововидима пробляскваща бяла светлина<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/d)</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section1_TR_Q">
        <td class="section1_Q">100. Кой кораб  носи тези светлини?<br /><img src="../Images/Img7.png" /></td>
    </tr>
    <tr class="section1_TR_A">
        <td class="section1_A">
            <input class="section1" name="Q10" type="radio" />&nbsp;Кораб на въздушна възглавница<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Пилотски кораб<br />
            <input class="section1" name="Q10" type="radio" />&nbsp;Риболовен кораб<br />
            <input class="section1" name="Q10" type="radio" Answer="true" />&nbsp;Кораб с мех. двигател на ход, с дължина по-малка от 7 м и скорост по-малка от 7 възела<br />
        </td>
    </tr>
    <tr class="section1_TR_C">
        <td class="section1_C">документ регламентиращ правилния отговор: <strong>COLREG (rule23/c2)</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <button class="section1" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="101-110.html" style="font-size: 14px;">Напред (към следващите въпроси) ></a>
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
                