<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ЗАДАЧИ ПО НАВИГАЦИЯ ЗА РЕШАВАНЕ НА КАРТА 11-20</title>
    <link href="../templates/style.css" rel="stylesheet" type="text/css" />
    <script src="../CheckResults.js" type="text/javascript" language="javascript"></script>
</head>
<body>
 <table class="section6" cellpadding="0" cellspacing="0" id="table_Content">
    <!--Q1-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">11. Компасния курс на Вашата яхта е КК = 48°30' (d = 2°,5 E, δ = - 3° 00'). В 11ч.15 мин. измервате КЪ = 123°,0 десен борд към фара на о-в Иван и дистанция D = 6,5 морски мили. Колко е компасния пеленг към н. Поморие?</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>KK=306,5°</strong></td>
    </tr>
    <!--Q1-->

    <!--Q2-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">12. Определете координатите φ и λ по измерени към ф. Емине ОКП = 183°,0 и към ф. Несебър ОКП = 95°,0 при Δk = - 3°,0.</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>42°39'N, 27°54'E</strong></td>
    </tr>
    <!--Q2-->
    
    <!--Q3-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">13. Определете координатите на Вашата яхта, плаваща на ИК = 328°,0 и сте измерили следните пеленги към н. Маслен нос: Тk = 17ч 30м     ОЛ = 139,5     ИП = 273°,0         Тk = 18ч 00м     ОЛ = 145,5     ИП = 245°,0</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>42°23'N, 28°00'E</strong></td>
    </tr>
    <!--Q3-->

    <!--Q4-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">14. С яхтата си се намирате в точка с координати Ш = 42°32' N и Д = 27°43' E и получавате съобщение по УКВ за спешно транспортиране на болен, намиращ се на яхта с координати Ш = 42°30' N и Д = 27°40 E. Отговаряте, че ще помогнете. За колко време ще пристигнете на входни фарове на пристанище Бургас със скорост 12 възла, ако времето за маневриране и прехвърляне на болния във Вашата яхта е 7 мин.?</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>1 h 02 min (62 min)</strong></td>
    </tr>
    <!--Q4-->

    <!--Q5-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">15. Определете координатите на Вашата яхта и разстоянието до о-в Иван, като с магнитния компас имащ d = 1°,8 E, δ = 0°,7 са измерени следните пеленги:  н. Емине   КП =   34°,5;   н. Несебър КП = 287° 5</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>42°38'N, 27°50'E</strong></td>
    </tr>
    <!--Q5-->
    
    <!--Q6-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">16. В корабно време Tk = 18ч. 15м. корабът Ви излиза от пристанище Варна, пресича входните фарове и ляга на КК = 88°00' (d =  3°,5 Е и δ = - 1°30') със скорост 12 възела. В  Tk = 19ч. 45м. правите поворот  наляво към пристанище Каварна и увеличава скоростта на 18 възла.. Какъв е КК, с който плавате към пристанище Каварна и в колко часа (Тк=?) ще сте на две морски мили от пристанището?</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>KK=3,5°, 20H25'</strong></td>
    </tr>
    <!--Q6-->

    <!--Q7-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">17. Определете координатите на кораб, плаващ на ИК = 270°00' и от който са измерени следните курсови ъгли: към н. Поморие  КЪ = 90° д/б; към фара на о-в Иван  КЪ = 144 л/б.</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>42°27,5'N, 27°39,8E</strong></td>
    </tr>
    <!--Q7-->

    <!--Q8-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">18. Плавате на КК = 145°,6 (d = 2°,8 Е и δ = - 3°,4) и в   Тk = 14ч 45м. сте измерили пеленгите: към н. Несебър ИП = 351°,0 и към н. Поморие КП = 241°,6.Какви са координатите на определеното място и какъв е курсовият ъгъл към о-в Иван.</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>42°35,2'N, 27°45'E, КЪ 51° д.б.</strong></td>
    </tr>
    <!--Q8-->

    <!--Q9-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">19. В Tk = 14ч. 40м. Ваш приятел Ви съобщава по УКВ, че плава на КК = 150°,2 със скорост 12 възела и вижда на разстояние D = 5 морски мили вижда нос Емине на КП = 351°,2  (d =  3°,8 Е и δ = - 4°,0).В колко часа приятелят Ви ще бъде на траверс на н. Коракя? За да се срещнете в тази точка в този час, в колко часа трябва да се снемете от пристанище Приморско и на какъв истински курс трябва да плавате със скорост 20 вз.?</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>15h40min, 14h49 min, ИК=?</strong></td>
    </tr>
    <!--Q9-->

    <!--Q10-->
    <tr class="section6_TR_Q">
        <td class="section6_Q">20. В 10 ч. и 20 мин. от точка ИП=0°, 00' и Д = 1 миля от фара на пристанище Несебър отплава кораб с ИК = 78° 00'. След един час корабът пресича паралел 42°40' N и шкиперът измерва компасен пеленг към н. Емине 337°, 00' (обща поправка на компаса - 0,5°). След това променя курса наляво с 40°. Определете скоростта и новият истински курс на кораба.</td>
    </tr>
    <tr class="section6_TR_C">
        <td class="section1_C">Отговор: <strong>8,6 kn, ИК=38°</strong></td>
    </tr>
    <!--Q10-->
 </table><br /><br />
 <!--<button class="section6" name="Q10" type="button" style="width: 150px;" onclick="CheckResults()">Провери<br /></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
 <!--<a href="11-20.html" target="_parent" style="font-size: 14px;">Напред (към следващите въпроси) ></a>-->
 <br /><br /><br />
 <a href="../index.htm" style="font-size: 14px;">Начало</a><br /><br />
</body>
</html>
